{% extends 'news/base.html' %}
{% block title %} Privacy {% endblock title %}
{% block main_content %}
    <section class="page">
        <h1 class="page__title title">
            {{ flatpage.title }}
        </h1>
        <div class="page__descriptions ckeditor">
            {{flatpage.customflatpage.description | safe}}
            {{flatpage.customflatpage.text_block | safe}}
        </div>
    </section>
{% endblock main_content %}