<ul class="pages__list">
    {% if paginator.has_previous %}
        {% if paginator.number|add:'-2' > 1 %}
            <li class="pages__item">
                <a href="?page=1" class="pages__link">1</a>
            </li>
        {% endif %}
        {% if paginator.number|add:'-2' >= 2 %}
            <li class="pages__item">
                <a href="?page={{ paginator.previous_page_number|add:'-2' }}" class="pages__link">
                    <span>• • •</span>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if paginator.paginator.page_range|length > 1 %}
        {% for i in paginator.paginator.page_range %}
            {% if paginator.number == i %}
                <li class="pages__item _active">
                    <a class="pages__link" href="#">{{ i }}</a>
                </li>
            {% elif i > paginator.number|add:'-3' and i < paginator.number|add:'3' %}
                <li class="pages__item">
                    <a class="pages__link" href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if paginator.has_next %}
        {% if paginator.number|add:'3' < paginator.paginator.num_pages %}
            <li class="pages__item">
                    <a href="?page={{ paginator.next_page_number|add:'2' }}" class="pages__link">
                <span>• • •</span>
                </a>
            </li>
        {% endif %}
        {% if paginator.number|add:'2' < paginator.paginator.num_pages %}
            <li class="pages__item">
                    <a class="pages__link" href="?page={{ paginator.paginator.num_pages }}">
                        {{ paginator.paginator.num_pages }}
                    </a>
            </li>
        {% endif %}
    {% endif %}
</ul>