<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    Google-->
    <meta name="google-site-verification" content="fL9JY7pYSpkeYDQJMs18_uPYXa76XL7tLNQ87vT-Zhg" />

    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/header-logo3.png' %}" type="image/png">
</head>
<body>
    <div class="wrapper">
        {% include 'include/header.html' %}
        <main class="main">
            <div class="container main__container">
                <div class="main__row">
                    {% block content %}



                    {% endblock content %}
                </div>
            </div>
            {% csrf_token %}
        </main>
        {% include 'include/footer.html' %}
    </div>
    {% block script %}
        <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popup.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    {% endblock script %}
</body>
</html>