{% extends 'news/base.html' %}
{% block title %} Profile {% endblock title %}
{% block main_content %}
{% load static profiles_tag %}
    <section class="profile">
        <div class="profile__header">
            <div class="profile__info">

                {% if profile.avatar %}
                    {% get_webp_avatar profile.user.id as webp_img %}
                    <picture class="profile__container-avatar">
                        {% if webp_img %}
                            <source srcset="{% static webp_img %}" type="image/webp">
                        {% endif %}
                        <img src="{{ profile.get_avatar_url }}" alt="image" class="profile__avatar">
                    </picture>
                {% else %}
                    <div class="profile__container-avatar">
                        <img src="{{ profile.get_avatar_url }}" alt="image" class="profile__avatar">
                    </div>
                {% endif %}
                
                <div class="profile__heading">
                    <h2 class="profile__title title">
                        {% if profile.nickname %}
                            {{ profile.nickname }}
                        {% else %}
                            {{ profile.user.username }}
                        {% endif %}
                    </h2>
                    <div class="profile__like-counter like-counter">
                        <svg class="like-counter__icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                            <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                        </svg>
                        {{ profile.user.profile.get_all_like }}
                    </div>
                </div>

                <p class="profile__date">
                    На проекте с {{ profile.user.date_joined|date:"d F Y" }}
                </p>
            </div>

            <div class="profile__action">
                <a class="profile__edit-profile-btn edit-profile-btn btn-border" href="{% url 'edit_profile' %}">
                    <svg class="edit-profile-btn__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <path d="M444.255,297.913c-11.423,0-20.682,9.259-20.682,20.682v125.66c0,14.547-11.835,26.381-26.381,26.381H67.746    c-14.547,0-26.381-11.835-26.381-26.381V114.81c0-14.547,11.835-26.381,26.381-26.381h125.66c11.422,0,20.682-9.26,20.682-20.682    s-9.26-20.682-20.682-20.682H67.746c-37.355,0-67.746,30.391-67.746,67.746v329.445C0.001,481.609,30.392,512,67.746,512h329.445    c37.355,0,67.746-30.391,67.746-67.746v-125.66C464.937,307.172,455.678,297.913,444.255,297.913z"/>
                        <path d="M505.942,100.185L411.815,6.058c-8.077-8.077-21.172-8.077-29.249,0L147.249,241.376    c-3.878,3.879-6.058,9.14-6.058,14.625v94.127c0,11.423,9.26,20.682,20.682,20.682h94.127c5.486,0,10.746-2.179,14.624-6.057    l235.318-235.319c3.879-3.879,6.058-9.14,6.058-14.625S509.821,104.064,505.942,100.185z M247.434,329.445h-64.878v-64.878    L397.191,49.932l64.878,64.878L247.434,329.445z"/>
                    </svg>
                    <span class="edit-profile-btn__text">
                        Настройки
                    </span>
                </a>
            </div>
        </div>

        <nav class="profile__profile-nav profile-nav">
            <ul class="profile-nav__list profile-nav__slider">
                <li class="profile-nav__item">
                    <a class="profile-nav__link" href="{% url 'profile_news' %}">
                        Статьи
                    </a>
                </li>
                <li class="profile-nav__item">
                    <a class="profile-nav__link" href="{% url 'profile_comments' %}">
                        Комментарии
                    </a>
                </li>
                <li class="profile-nav__item">
                    <a class="profile-nav__link" href="{% url 'profile_follow' %}">
                        Подписки
                    </a>
                </li>
                <li class="profile-nav__item">
                    <a class="profile-nav__link" href="{% url 'profile_favorites' %}">
                        Закладки
                    </a>
                </li>
            </ul>
        </nav>

        <div class="profile__body">
            {% block profile_content %}

            {% endblock profile_content %}
        </div>

    </section>
{% endblock main_content %}