{% extends 'news/base.html' %}
{% block title %} Edit profile {% endblock title %}
{% load static %}
{% block main_content %}
    <section class="profile-edit">
        <div class="profile-edit__container">
            <div class="profile-edit__row">

                <!-- Edit banner -->
                <div class="profile-edit__banner banner">
                    <span class="banner__img"></span>
                </div>
                
                <div class="profile-edit__info">
                    {% comment %}
                        {% if messages %}
                            {% for message in messages %}
                            {{ message }}
                            <!-- Messages alert -->
                                <div class="profile-edit__messages" role="alert">
                                    <button class="btn btn_alert" data-dismiss="alert">
                                        {{message}}
                                        <small><sup>x</sup></small>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endcomment %}

                    <!-- Edit form -->
                    <form class="profile-edit__form-edit-profile form-edit-profile" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <label for="id_nickname" class="form-edit-profile__heading title">
                            Псевдоним
                        </label>
                        <div class="form-edit-profile__error">
                            {{ form.errors.nickname }}
                        </div>
                        {{ form.nickname }}

                        <label for="profile_avatar" class="form-edit-profile__heading title">
                            Загрузить аватар
                        </label>
                        <div class="form-edit-profile__error">
                            {{ form.errors.avatar }}
                        </div>
                        <div class="form-edit-profile__image-upload image-upload" id="profile_avatar">
                            <div id="file_name" class="image-upload__file-name _right"></div>
                            <button type="button" class="image-upload__btn btn _right" onclick="uploadAvatar()">
                                <svg class="image-upload__btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 9h-4v4h-2v-4H9V9h4V5h2v4h4v2z"/>
                                </svg>
                                Аватар
                            </button>
                        </div>
                        <div class="form-edit-profile__hide">
                            {{ form.avatar }}
                        </div>
                        <button type="submit" class="form-edit-profile__submit btn-border">
                            Сохранить
                        </button>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Back to profile -->
        <a href="{% url 'view_profile' %}" class="profile-edit__close close">
            <svg class="close__icon" enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewbox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M81.646,64l22.248-22.249c3.48-3.48,3.474-9.131-0.019-12.623l-5.006-5.005  c-3.489-3.49-9.142-3.499-12.622-0.019L64,46.354L41.753,24.106c-3.484-3.483-9.133-3.472-12.624,0.018l-5.005,5.005  c-3.491,3.492-3.501,9.14-0.018,12.623L46.354,64L24.108,86.246c-3.483,3.484-3.472,9.133,0.018,12.623l5.005,5.006  c3.492,3.492,9.14,3.502,12.623,0.018L64,81.647l22.247,22.246c3.48,3.481,9.131,3.475,12.622-0.019l5.006-5.006  c3.489-3.489,3.498-9.142,0.019-12.622L81.646,64z"/>
            </svg>
        </a>
    </section>
{% endblock main_content %}