{% extends 'profiles/profile_detail.html' %}
{% block profile_content %}
{% load static news_tag %}
    <div class="profile__favorites news">

        <ul class="news__list">
            {% for news in profile_favorites %}
                <li class="news__item">
                    <a class="news__link"></a>

                    {% if news.image %}
                        <a class="news__img-link" href="/{{ news.pk }}">

                            {% get_webp_img news.pk as webp_img %}
                            <picture class="news__img-container">
                                {% if webp_img %}
                                    <source srcset="{% static webp_img.webp_x2 %} 2x, {% static webp_img.webp_x1 %} 1x" type="image/webp">
                                {% endif %}
                                <img src="{{ news.image.url }}" alt="image" class="news__img">
                            </picture>

                        </a>
                    {% endif %}

                    <div class="news__news-info news__info">
                        <h2 class="news-info__title title_black">
                            <a class="news-info__link" href="/{{ news.pk }}">
                                {{ news.title }}
                            </a>
                        </h2>

                        <!-- News actions -->
                        <div class="news__action news-actions">
                            <ul class="news-actions__list">
                                <li class="news-actions__item">
                                    <a class="news-actions__btn" href="#">
                                        <span class="news-actions__icon _views"></span>
                                    </a>
                                    {{ news.views }}
                                </li>
                                <li class="news-actions__item">
                                    <a class="news-actions__btn" href="/{{ news.pk }}">
                                        <span class="news-actions__icon _comments"></span>
                                    </a>
                                    {{ news.get_comment.count }}
                                </li>

                                {% if user.is_authenticated %}
                                    <li class="news-actions__item">
                                        <button class="news-actions__btn {% if user in  news.user_like.all %} _active {% endif %}" aria-hidden="true" onclick="like({{ news.pk }}, 'news')" id="like_btn{{ news.pk }}">
                                            <svg class="news-actions__icon _like" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                                                <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                                            </svg>
                                        </button>
                                        <span id="counter__likes{{ news.pk }}">
                                            {{ news.like }}
                                        </span>
                                    </li>
                                    <li class="news-actions__item">
                                        <a class="news-actions__btn {% if user in  news.favourites.all %} _active {% endif %}" aria-hidden="true" onclick="favorite({{ news.pk }})" id="favorite_btn{{ news.pk }}">
                                            <svg class="news-actions__icon _favorite" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                                <path d="M839.4,10c9.9,0,19.4,1.9,28.5,5.8c14.3,5.6,25.6,14.5,34,26.6c8.4,12.1,12.6,25.5,12.6,40.2v834.9c0,14.7-4.2,28.1-12.6,40.2c-8.4,12.1-19.8,20.9-34,26.6c-8.2,3.5-17.7,5.2-28.5,5.2c-20.7,0-38.6-6.9-53.8-20.7L500,694L214.4,968.6c-15.5,14.3-33.5,21.4-53.8,21.4c-9.9,0-19.4-1.9-28.5-5.8c-14.3-5.6-25.6-14.5-34-26.6c-8.4-12.1-12.6-25.5-12.6-40.2V82.5c0-14.7,4.2-28.1,12.6-40.2c8.4-12.1,19.8-20.9,34-26.6c9.1-3.9,18.6-5.8,28.5-5.8H839.4L839.4,10z"/>
                                            </svg>
                                        </a>
                                        <span id="counter__favorite{{ news.pk }}">
                                            {{ news.favourites.count }}
                                        </span>
                                    </li>
                                {% else %}
                                    <li class="news-actions__item">
                                        <a href="#login" class="news-actions__btn popup-link">
                                            <svg class="news-actions__icon _like" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                                                <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                                            </svg>
                                        </a>
                                        {{ news.like }}
                                    </li>
                                    <li class="news-actions__item">
                                        <a href="#login" class="news-actions__btn popup-link">
                                            <svg class="news-actions__icon _favorite" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                                <path d="M839.4,10c9.9,0,19.4,1.9,28.5,5.8c14.3,5.6,25.6,14.5,34,26.6c8.4,12.1,12.6,25.5,12.6,40.2v834.9c0,14.7-4.2,28.1-12.6,40.2c-8.4,12.1-19.8,20.9-34,26.6c-8.2,3.5-17.7,5.2-28.5,5.2c-20.7,0-38.6-6.9-53.8-20.7L500,694L214.4,968.6c-15.5,14.3-33.5,21.4-53.8,21.4c-9.9,0-19.4-1.9-28.5-5.8c-14.3-5.6-25.6-14.5-34-26.6c-8.4-12.1-12.6-25.5-12.6-40.2V82.5c0-14.7,4.2-28.1,12.6-40.2c8.4-12.1,19.8-20.9,34-26.6c9.1-3.9,18.6-5.8,28.5-5.8H839.4L839.4,10z"/>
                                            </svg>
                                        </a>
                                        {{ news.favourites.count }}
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="news__item">
                    <div class="news__news-info">
                        <p class="not_found">
                            Ничего не найдено...
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% if paginator.page_range|length > 1 %}
            <div class="pages">
                {% include 'include/pagination.html' %}
            </div>
        {% endif %}
    </div>
{% endblock profile_content %}