{% extends 'profiles/profile_detail.html' %}
{% block profile_content %}
{% load static profiles_tag %}
    <div class="profile__comments comments">
        <ul class="comments__list">

            {% for comment in profile_comments %}
                <li class="comments__item comment">
                    <div class="comment__info">
                        
                        {% if comment.author.profile.avatar %}
                            {% get_webp_avatar comment.author.profile.user.id as webp_img %}
                            <picture>
                                {% if webp_img %}
                                    <source srcset="{% static webp_img %}" type="image/webp">
                                {% endif %}
                                <img src="{{ comment.author.profile.get_avatar_url }}" alt="{{ comment.author }}" class="comment__avatar">
                            </picture>
                        {% else %}
                            <img src="{{ comment.author.profile.get_avatar_url }}" alt="{{ comment.author }}" class="comment__avatar">
                        {% endif %}

                        <div class="comment__user-info">
                            <div class="comment__username">
                                <a class="comment__username-link" href="#">
                                    {{ comment.author }}
                                </a>
                            </div>
                            <div class="comment__datetime">
                                {{ comment.created_at }}
                            </div>
                        </div>
                    </div>
                    <p class="comment__text">
                         {{ comment.text }}
                    </p>

                    <!-- Comment action -->
                    <div class="comments__action">
                        <div class="comment__action-right">
                            <button class="news-actions__btn {% if user in  node.user_like.all %} _active {% endif %}" aria-hidden="true" onclick="like({{ comment.pk }}, 'comment')" id="comment_like_btn{{ comment.pk }}">
                                <svg class="news-actions__icon _like"  xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                                    <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                                </svg>
                            </button>
                            <span id="comment_counter__likes{{ comment.pk }}">
                                {{ comment.like }}
                            </span>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="comments__item">
                    <p class="not_found">
                        Ничего не найдено...
                    </p>
                </li>
            {% endfor %}
        </ul>
        <!--Pages-->
        <div class="pages">
            {% include 'include/pagination.html' %}
        </div>
    </div>

{% endblock profile_content %}