{% extends 'profiles/profile_detail.html' %}
{% block profile_content %}
{% load static profiles_tag %}

    <div class="profile__follow follow">

        <!-- following -->
        <div class="follow__box">
            <div class="follow__body">
                <h2 class="follow__heading title">
                    Подписки
                </h2>
                <ul class="follow__list">
                    {% for follow in following_list %}
                    <li class="follow__item">
                        <a class="follow__link" href="{% url 'public_info' follow.user_id.profile.pk %}">
                            <div class="follow__avatar">
                                
                                {% if follow.user_id.profile.avatar %}
                                    {% get_webp_avatar follow.user_id.profile.user.id as webp_img %}
                                    <picture class="profile__container-avatar">
                                        {% if webp_img %}
                                            <source srcset="{% static webp_img %}" type="image/webp">
                                        {% endif %}
                                        <img class="follow__avatar-icon" src="{{ follow.user_id.profile.get_avatar_url }}" alt="avatar-icon">
                                    </picture>
                                {% else %}
                                    <img class="follow__avatar-icon" src="{{ follow.user_id.profile.get_avatar_url }}" alt="avatar-icon">
                                {% endif %}

                            </div>
                            {% if  follow.user_id.profile.nickname %}
                                {{ follow.user_id.profile.nickname }}
                            {% else %}
                                {{ follow.user_id.username }}
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <a class="follow__btn-more btn" href="{% url 'profile_subscriptions' %}">
                    Показать всех
                </a>
            </div>
        </div>

        <!-- followers -->
        <div class="follow__box">
            <div class="follow__body">
                <h2 class="follow__heading title">
                    Подписчики
                </h2>
                <ul class="follow__list">
                    {% for follow in followers_list %}
                    <li class="follow__item">
                        <a class="follow__link" href="{% url 'public_info' follow.following_user_id.profile.pk %}">
                            <div class="follow__avatar">
                                {% if follow.following_user_id.profile.avatar %}
                                    {% get_webp_avatar follow.following_user_id.profile.user.id as webp_img %}
                                    <picture class="profile__container-avatar">
                                        {% if webp_img %}
                                            <source srcset="{% static webp_img %}" type="image/webp">
                                        {% endif %}
                                        <img class="follow__avatar-icon" src="{{ follow.following_user_id.profile.get_avatar_url }}">
                                    </picture>
                                {% else %}
                                    <img class="follow__avatar-icon" src="{{ follow.following_user_id.profile.get_avatar_url }}">
                                {% endif %}
                            </div>
                            {% if  follow.following_user_id.profile.nickname %}
                                {{ follow.following_user_id.profile.nickname }}
                            {% else %}
                                {{ follow.following_user_id.username }}
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <a class="follow__btn-more btn" href="{% url 'profile_subscribers' %}">
                    Показать всех
                </a>
            </div>
        </div>
    </div>
{% endblock profile_content %}