{% extends 'profiles/profile_detail.html' %}
{% block profile_content %}
{% load static profiles_tag %}

    <section class="follow__more">
        <h2 class="follow__heading title">
            Подписчики
        </h2>
        <ul class="follow__list">
            {% for follow in followers_list %}
            <li class="follow__item _big">
                <a class="follow__link _big" href="{% url 'public_info' follow.following_user_id.profile.pk %}">
                    <div class="follow__avatar _big">
                        
                        {% if follow.following_user_id.profile.avatar %}
                            {% get_webp_avatar follow.following_user_id.profile.user.id as webp_img %}
                            <picture>
                                {% if webp_img %}
                                    <source srcset="{% static webp_img %}" type="image/webp">
                                {% endif %}
                                <img class="follow__avatar-icon" src="{{ follow.following_user_id.profile.get_avatar_url }}" alt="avatar-icon">
                            </picture>
                        {% else %}
                            <img class="follow__avatar-icon" src="{{ follow.following_user_id.profile.get_avatar_url }}" alt="avatar-icon">
                        {% endif %}
                        
                    </div>
                    {% if  follow.following_user_id.profile.nickname %}
                        {{ follow.following_user_id.profile.nickname }}
                    {% else %}
                        {{ follow.following_user_id.username }}
                    {% endif %}
                </a>
                {% if follow.following_user_id in subscriptions_list %}
                    <button class="follow-profile-btn btn _big" id="unfollow{{ follow.following_user_id.profile.pk }}" onclick="follow({{ follow.following_user_id.profile.pk }})">
                        <svg class="follow-profile-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M315.409,249.231C345.854,225.711,365.5,188.86,365.5,147.5C365.5,76.645,307.855,19,237,19S108.5,76.645,108.5,147.5
                                c0,41.359,19.646,78.211,50.091,101.731C68.293,280.794,0,367.427,0,473c0,11.046,8.954,20,20,20h434c11.046,0,20-8.954,20-20
                                C474,367.395,405.65,280.774,315.409,249.231z M148.5,147.5c0-48.799,39.701-88.5,88.5-88.5s88.5,39.701,88.5,88.5
                                S285.799,236,237,236S148.5,196.299,148.5,147.5z M41.007,453C51.061,353.73,135.123,276,237,276s185.939,77.73,195.993,177
                                H41.007z"/>
                            <path d="M492,127.5h-76c-11.046,0-20,8.954-20,20s8.954,20,20,20h76c11.046,0,20-8.954,20-20S503.046,127.5,492,127.5z"/>
                        </svg>
                        <span class="follow-profile-btn__text">
                            Отписаться
                        </span>
                    </button>
                    <button class="hide_all follow-profile-btn btn-border _big" id="follow2{{ follow.following_user_id.profile.pk }}" onclick="follow({{ follow.following_user_id.profile.pk }})">
                        <svg class="follow-profile-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M492,127.5h-18v-18c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v18h-18c-11.046,0-20,8.954-20,20s8.954,20,20,20
                                h18v18c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20v-18h18c11.046,0,20-8.954,20-20S503.046,127.5,492,127.5z"/>
                            <path d="M315.409,249.231C345.854,225.711,365.5,188.86,365.5,147.5C365.5,76.645,307.855,19,237,19S108.5,76.645,108.5,147.5
                                c0,41.359,19.646,78.211,50.091,101.731C68.293,280.793,0,367.427,0,473c0,11.046,8.954,20,20,20h434c11.046,0,20-8.954,20-20
                                C474,367.401,405.656,280.775,315.409,249.231z M148.5,147.5c0-48.799,39.701-88.5,88.5-88.5s88.5,39.701,88.5,88.5
                                S285.799,236,237,236S148.5,196.299,148.5,147.5z M41.008,453C51.061,353.73,135.123,276,237,276s185.939,77.73,195.992,177
                                H41.008z"/>
                        </svg>
                        <span class="follow-profile-btn__text">
                            Подписаться
                        </span>
                    </button>
                {% else %}
                    <button class="follow-profile-btn btn-border _big" id="follow{{ follow.following_user_id.profile.pk }}" onclick="follow({{ follow.following_user_id.profile.pk }})">
                        <svg class="follow-profile-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M492,127.5h-18v-18c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v18h-18c-11.046,0-20,8.954-20,20s8.954,20,20,20
                                h18v18c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20v-18h18c11.046,0,20-8.954,20-20S503.046,127.5,492,127.5z"/>
                            <path d="M315.409,249.231C345.854,225.711,365.5,188.86,365.5,147.5C365.5,76.645,307.855,19,237,19S108.5,76.645,108.5,147.5
                                c0,41.359,19.646,78.211,50.091,101.731C68.293,280.793,0,367.427,0,473c0,11.046,8.954,20,20,20h434c11.046,0,20-8.954,20-20
                                C474,367.401,405.656,280.775,315.409,249.231z M148.5,147.5c0-48.799,39.701-88.5,88.5-88.5s88.5,39.701,88.5,88.5
                                S285.799,236,237,236S148.5,196.299,148.5,147.5z M41.008,453C51.061,353.73,135.123,276,237,276s185.939,77.73,195.992,177
                                H41.008z"/>
                        </svg>
                        <span class="follow-profile-btn__text">
                            Подписаться
                        </span>
                    </button>
                    <button class="hide_all follow-profile-btn btn _big" id="unfollow2{{ follow.following_user_id.profile.pk }}" onclick="follow({{ follow.following_user_id.profile.pk }})">
                        <svg class="follow-profile-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M315.409,249.231C345.854,225.711,365.5,188.86,365.5,147.5C365.5,76.645,307.855,19,237,19S108.5,76.645,108.5,147.5
                                c0,41.359,19.646,78.211,50.091,101.731C68.293,280.794,0,367.427,0,473c0,11.046,8.954,20,20,20h434c11.046,0,20-8.954,20-20
                                C474,367.395,405.65,280.774,315.409,249.231z M148.5,147.5c0-48.799,39.701-88.5,88.5-88.5s88.5,39.701,88.5,88.5
                                S285.799,236,237,236S148.5,196.299,148.5,147.5z M41.007,453C51.061,353.73,135.123,276,237,276s185.939,77.73,195.993,177
                                H41.007z"/>
                            <path d="M492,127.5h-76c-11.046,0-20,8.954-20,20s8.954,20,20,20h76c11.046,0,20-8.954,20-20S503.046,127.5,492,127.5z"/>
                        </svg>
                        <span class="follow-profile-btn__text">
                            Отписаться
                        </span>
                    </button>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock profile_content %}