{% extends 'news/base.html' %}
{% block title %} Profile {% endblock title %}
{% block main_content %}
{% load static profiles_tag %}
    <div class="public-profile profile">

        <!-- Public profile header -->
        <div class="profile__header">

            <!-- Profile info -->
            <div class="profile__info">
                
                {% if profile.avatar %}
                    {% get_webp_avatar profile.user.id as webp_img %}
                    <picture class="profile__container-avatar">
                        {% if webp_img %}
                            <source srcset="{% static webp_img %}" type="image/webp">
                        {% endif %}
                        <img class="profile__avatar" src="{{ profile.get_avatar_url }}">
                    </picture>
                {% else %}
                    <div class="profile__container-avatar">
                        <img class="profile__avatar" src="{{ profile.get_avatar_url }}">
                    </div>
                {% endif %}

                <div class="profile__heading">
                    <h2 class="profile__title title">
                        {% if profile.nickname %}
                            {{ profile.nickname }}
                        {% else %}
                            {{ profile.user }}
                        {% endif %}
                    </h2>
                    <div class="profile__like-counter like-counter">
                        <svg class="like-counter__icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                            <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                        </svg>
                        {{ profile.get_all_like }}
                    </div>
                </div>

                <p class="profile__date">
                    На проекте с {{ profile.user.date_joined|date:"d F Y" }}
                </p>
            </div>

            <!-- Profile actions -->
            <div class="profile__action">
                
                <!-- Message button -->
                <a class="profile__message-profile-btn message-profile-btn btn-border" href="{% url 'get_dialogs' profile.pk %}">
                    <span class="message-profile-btn__text">
                        Написать
                    </span>
                    <svg class="message-profile-btn__icon" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg">
                        <path d="m8.75 17.612v4.638c0 .324.208.611.516.713.077.025.156.037.234.037.234 0 .46-.11.604-.306l2.713-3.692z"/>
                        <path d="m23.685.139c-.23-.163-.532-.185-.782-.054l-22.5 11.75c-.266.139-.423.423-.401.722.023.3.222.556.505.653l6.255 2.138 13.321-11.39-10.308 12.419 10.483 3.583c.078.026.16.04.242.04.136 0 .271-.037.39-.109.19-.116.319-.311.352-.53l2.75-18.5c.041-.28-.077-.558-.307-.722z"/>
                    </svg>
                </a>

                <!-- Follow button -->
                {% if follow %}
                    <button class="profile__follow-profile-btn follow-profile-btn btn" id="unfollow{{ profile.pk }}" onclick="follow({{ profile.pk }})">
                        <svg class="follow-profile-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M315.409,249.231C345.854,225.711,365.5,188.86,365.5,147.5C365.5,76.645,307.855,19,237,19S108.5,76.645,108.5,147.5
                                c0,41.359,19.646,78.211,50.091,101.731C68.293,280.794,0,367.427,0,473c0,11.046,8.954,20,20,20h434c11.046,0,20-8.954,20-20
                                C474,367.395,405.65,280.774,315.409,249.231z M148.5,147.5c0-48.799,39.701-88.5,88.5-88.5s88.5,39.701,88.5,88.5
                                S285.799,236,237,236S148.5,196.299,148.5,147.5z M41.007,453C51.061,353.73,135.123,276,237,276s185.939,77.73,195.993,177
                                H41.007z"/>
                            <path d="M492,127.5h-76c-11.046,0-20,8.954-20,20s8.954,20,20,20h76c11.046,0,20-8.954,20-20S503.046,127.5,492,127.5z"/>
                        </svg>
                        <span class="follow-profile-btn__text">
                            Отписаться
                        </span>
                    </button>
                    <button class="hide_all profile__follow-profile-btn follow-profile-btn btn-border" id="follow2{{ profile.pk }}" onclick="follow({{ profile.pk }})">
                        <svg class="follow-profile-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M492,127.5h-18v-18c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v18h-18c-11.046,0-20,8.954-20,20s8.954,20,20,20
                                h18v18c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20v-18h18c11.046,0,20-8.954,20-20S503.046,127.5,492,127.5z"/>
                            <path d="M315.409,249.231C345.854,225.711,365.5,188.86,365.5,147.5C365.5,76.645,307.855,19,237,19S108.5,76.645,108.5,147.5
                                c0,41.359,19.646,78.211,50.091,101.731C68.293,280.793,0,367.427,0,473c0,11.046,8.954,20,20,20h434c11.046,0,20-8.954,20-20
                                C474,367.401,405.656,280.775,315.409,249.231z M148.5,147.5c0-48.799,39.701-88.5,88.5-88.5s88.5,39.701,88.5,88.5
                                S285.799,236,237,236S148.5,196.299,148.5,147.5z M41.008,453C51.061,353.73,135.123,276,237,276s185.939,77.73,195.992,177
                                H41.008z"/>
                        </svg>
                        <span class="follow-profile-btn__text">
                            Подписаться
                        </span>
                    </button>
                {% else %}
                    <button class="profile__follow-profile-btn follow-profile-btn btn-border" id="follow{{ profile.pk }}" onclick="follow({{ profile.pk }})">
                        <svg class="follow-profile-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M492,127.5h-18v-18c0-11.046-8.954-20-20-20c-11.046,0-20,8.954-20,20v18h-18c-11.046,0-20,8.954-20,20s8.954,20,20,20
                                h18v18c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20v-18h18c11.046,0,20-8.954,20-20S503.046,127.5,492,127.5z"/>
                            <path d="M315.409,249.231C345.854,225.711,365.5,188.86,365.5,147.5C365.5,76.645,307.855,19,237,19S108.5,76.645,108.5,147.5
                                c0,41.359,19.646,78.211,50.091,101.731C68.293,280.793,0,367.427,0,473c0,11.046,8.954,20,20,20h434c11.046,0,20-8.954,20-20
                                C474,367.401,405.656,280.775,315.409,249.231z M148.5,147.5c0-48.799,39.701-88.5,88.5-88.5s88.5,39.701,88.5,88.5
                                S285.799,236,237,236S148.5,196.299,148.5,147.5z M41.008,453C51.061,353.73,135.123,276,237,276s185.939,77.73,195.992,177
                                H41.008z"/>
                        </svg>
                        <span class="follow-profile-btn__text">
                            Подписаться
                        </span>
                    </button>
                    <button class="hide_all profile__follow-profile-btn follow-profile-btn btn" id="unfollow2{{ profile.pk }}" onclick="follow({{ profile.pk }})">
                        <svg class="follow-profile-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path d="M315.409,249.231C345.854,225.711,365.5,188.86,365.5,147.5C365.5,76.645,307.855,19,237,19S108.5,76.645,108.5,147.5
                                c0,41.359,19.646,78.211,50.091,101.731C68.293,280.794,0,367.427,0,473c0,11.046,8.954,20,20,20h434c11.046,0,20-8.954,20-20
                                C474,367.395,405.65,280.774,315.409,249.231z M148.5,147.5c0-48.799,39.701-88.5,88.5-88.5s88.5,39.701,88.5,88.5
                                S285.799,236,237,236S148.5,196.299,148.5,147.5z M41.007,453C51.061,353.73,135.123,276,237,276s185.939,77.73,195.993,177
                                H41.007z"/>
                            <path d="M492,127.5h-76c-11.046,0-20,8.954-20,20s8.954,20,20,20h76c11.046,0,20-8.954,20-20S503.046,127.5,492,127.5z"/>
                        </svg>
                        <span class="follow-profile-btn__text">
                            Отписаться
                        </span>
                    </button>
                {% endif %}

            </div>
        </div>

        <!-- Public profile nav -->
        <nav class="profile__profile-nav profile-nav">
            <ul class="profile-nav__list profile-nav__slider">
                <li class="profile-nav__item">
                    <a class="profile-nav__link" href="{% url 'public_profile_news' pk=profile.pk %}">
                        Статьи
                    </a>
                </li>
                <li class="profile-nav__item">
                    <a class="profile-nav__link" href="{% url 'public_profile_comments' pk=profile.pk %}">
                        Комментарии
                    </a>
                </li>
                <li class="profile-nav__item">
                    <a class="profile-nav__link" href="{% url 'public_profile_follow' pk=profile.pk %}">
                        Подписки
                    </a>
                </li>
                <li class="profile-nav__item">
                    <a class="profile-nav__link" href="{% url 'public_profile_favorites' pk=profile.pk %}">
                        Закладки
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Public profile body -->
        <div class="profile__body">
            {% block profile_content %}

            {% endblock profile_content %}
        </div>
    </div>
{% endblock main_content %}