.account {
    @extend %main-box;
    padding: 40px;
    overflow: hidden;

    .account__container {
        width: auto;
    };

    @media (max-width: 576px) {
        padding: 20px;
    };
}

.account__row { 
    display: flex;
    margin: 0 -15px;

    .account__banner {
        width: 45%;
        margin: -40px 0 -40px -40px;
        padding: 0 15px;

        &.banner {

            .banner__img {
                @include banner-img(url("../img/reg.jpg"));
                background-size: cover;
            };
        };

        @media (max-width: 576px) {
            display: none;
        };
    };
    .account__info {
        width: 55%;
        padding: 0 15px;
        flex-grow: 1;

        .account__header {
            margin: 0;
            font-size: 36px;
        };
        .account__description {
            margin-top: 15px;
            font-size: 16px;
            font-weight: 400;
            color: $color-second;
        };
        .account__form {
            width: 100%;
        };
        .account__btn-signup {
            width: 100%;
            margin-top: 10px;
        };
    };
};

.form-account {
    p {

        label {
            display: none;
        };
        input {
            @extend %default-input;
            margin-top: 15px;

            &[type="checkbox"] {
                display: none;
            };
        };
    };
    .account__btn {
        margin-top: 15px;
        width: 100%;
    }
    .account__block {
        margin-top: 15px;
        display: flex;
    
        .account-checkbox-label {
            font-size: 15px;
            font-weight: 400;
            color: $color-minor;
        };
        .account-checkbox {
            margin-left: 5px;
        };
        .account__link {
            display: block;
            margin-left: auto;
            font-size: 15px;
            font-weight: 500;
            color: $color-main;
            transition: color 300ms cubic-bezier(.92, .33, .49, .88);
        
            &:hover,
            &:focus {
                transform: scale(1.05);
            };
            &:active {
                transform: scale(1.0);
                color: #8080ff;
            };
        };
    };
};

.socialaccount_ballot {
    width: 100%;
    height: auto;
    margin-top: 15px;

    .socialaccount_providers {
        display: flex;
        justify-content: space-around;

        li {
            width: 50px;
            height: 50px;

            .socialaccount_provider {
                width: 100%;
                height: 100%;
                @extend %img-box;
                font-size: 0;
                transition: transform 100ms cubic-bezier(.92, .33, .49, .88);

                &.google {
                    background-image: url('../img/account/gmail.svg');
                    background-size: 47px
                };
                &.vk {
                    background-image: url('../img/account/vk.svg');
                };
                &.yandex {
                    background-image: url('../img/account/yandex.svg');
                    background-size: 38px
                };
                &.facebook {
                    background-image: url('../img/account/facebook.svg');
                    background-size: 34px
                };

                &:hover,
                &:focus {
                    transform: translateY(-5px);
                };
            };
        };
    };
};

.errorlist {
    margin-top: 15px;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
    color: $color-block;
    background-color: $color-main;
}





