.section-add {
    max-width: 200px;
    flex-grow: 1;

    @media (max-width: 1200px) {
        display: none;
    };
};

.add__row {
    @extend %main-box;
    padding: 30px 15px;
};

.add__list {
    
    .add__item {
        width: 100%;

        &:not(:first-child) {
            margin-top: 30px;
        };

        .add__img {
            width: 100%;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
        };
        
        .add__link {
            display: block;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 500;
            color: $color-main;
        };
    };
}


