.ckeditor {
    @extend %img-box;
    
    p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
        color: $color-second;
        word-break: break-all;

        iframe, img {
            width: 100%;
        };
    };
    blockquote {
        margin-top: 10px;
        margin-left: 40px;
        border-left: 5px solid $color-minor;
        padding-left: 20px;

        p {
            font-size: 18px;
            font-weight: 400;
            color: $color-second;
            word-break: break-all;
        };
    };
};