.comments {
    margin-top: 25px;
};

.comments__form-comment {
    width: 100%;
    height: auto;
};

// Форма комментария
.form-comment {

    .form-comment__textarea {
        width: 100%;
        height: 65px;
        max-height: 150px;
        margin-top: 25px;
        border-radius: 20px;
        padding: 15px;
        font-size: 16px;
        font-weight: 400;
        color: $color-main;
        resize: none;

        &::placeholder {
            padding: 15px;
            font-size: 16px;
            font-weight: 400;
            color: $color-main;
        };
    };
    .form-comment__btn {
        margin-top: 15px;
        margin-left: auto;
        width: 150px;
    };
};

// Список комментариев
.comments__list {
    margin-top: 25px;

    .comments__item {
        @extend %main-box;
        padding: 25px;

        &:not(:first-child) {
            margin-top: 15px;
        };
    };
};

// Тело комментария
.comment {

    .comment__info {
        width: 100%;
        display: flex;

        .comment__avatar {
            height: 35px;
            width: 35px;
            border: 5px solid $color-main;
            border-radius: 50%;
            object-fit: cover;
        };
        .comment__user-info {
            margin-left: 20px;

            .comment__username {
                font-size: 16px;
                font-weight: 500;
                color: $color-main;
            };
            .comment__datetime {
                font-size: 12px;
                font-weight: 400;
                color: $color-minor;
            };
        };
    };
    .comment__text {
        margin: 15px;
        font-size: 16px;
        font-weight: 400;
        color: $color-second;
    };
    .comments__action {
        margin-top: 15px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        color: $color-second;

        
        .comment__action-right {
            display: flex;
            align-items: center;
            margin-left: auto;
        };
    };
};

// Форма ответа на комментарий
.reply-form {
    display: none;
};

// Ответ на комментарий
.comment__child {
    margin-left: 25px;
};