.dialogs__row {
    @extend %main-box;
    display: flex;

    @media (max-width: 576px) {
        height: 500px;
        border-radius: 0;
        position: relative;
    };
};

// Dialog list
.dialogs__list {
    width: 30%;
    height: auto;
    padding: 15px;
    border-right: 4px solid $color-main;

    .dialogs__chats-btn {
        display: none
    };
    .dialogs__item {
        height: 40px;
        font-size: 16px;
        font-weight: 500;
        color: $color-main;

        &:hover,
        &:focus {
            border-radius: 10px;
            color: $color-block;
            background-color: $color-main;

            .dialogs__link {

                .dialogs__count{
                    color: $color-main;
                    background-color: $color-block;
                };
            };
        };
        &:active {
            transform: scale(.9);
            opacity: .7;
        };
        &:not(:first-child) {
            margin-top: 10px;
        };

        .dialogs__link {
            height: 100%;
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .dialogs__count {
                height: 25px;
                min-width: 25px;
                margin-left: 10px;
                border-radius: 5px;
                padding: 0 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                font-weight: 500;
                color: $color-block;
                background-color: $color-main;
            };
        };
    };

    @media (max-width: 992px) {
        width: 35%;
    };
    @media (max-width: 576px) {
        width: 80%;
        height: 100%;
        display: block;
        position: absolute;
        left: -80%;
        transition: left .5s cubic-bezier(.92, .33, .49, .88);
        background-color: $color-block;

        .dialogs__chats-btn {
            width: 110px;
            border-radius: 0;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            display: block;
            position: absolute;
            top: 55px;
            left: calc(100% + 20px);
            transform: translate(-50%, -50%) rotate(-90deg);
        };
        
        &._active {
            left: 0;
            transition: left .5s cubic-bezier(.92, .33, .49, .88);
        };
    };
};

.chats-btn {
    transform: rotate(90deg);

    .chats-btn__icon {
        height: 20px;
        width: 20px;
        margin-left: 5px;
    };
};

.messages {
    width: 70%;
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 992px) {
        width: 65%;
    };
    @media (max-width: 576px) {
        width: 100%;
        height: 100%;
        margin-left: 40px;
    };
};

// Message list
.message__list {
    padding: 15px;
    overflow: auto;

    .message__item {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 400;
        color: $color-second;

        .message__heading {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .message__author {
                font-size: 16px;
                font-weight: 500;
                color: $color-main;

                .message__author-link {
                    height: 100%;
                    width: 100%;
                    cursor: pointer;
                }
            };
            .message__date {
                font-size: 12px;
                font-weight: 400;
                color: $color-minor;
            };
        };
        .message__text {
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            color: $color-second;
        };
    };
};

// Send message form
.message__form {
    width: 100%;
    margin-top: auto;
    padding: 15px;
    display: flex;
    align-items: center;

    .message__textarea {
        height: 40px;

        .django-ckeditor-widget {

            textarea {
                width: 100%;
                height: 40px;
                border-radius: 10px;
                padding: 0 10px;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 400;
                color: $color-second;
                resize: none;

                &::placeholder {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 400;
                    color: $color-second;
                };
            };
        };
    };
    .message__submit-message-btn {
        margin-left: 10px;
    };
};

// Send message btn
.submit-message-btn {
    width: 50px;
    margin-bottom: 1px;

    .submit-message-btn__icon {
        height: 20px;
        width: 20px;
    };
};

