.profile-edit {
    @extend %main-box;
    padding: 30px;
    position: relative;

    .profile-edit__container {
        width: auto;
    };
    .profile-edit__close {
        @extend %close;
    }
};


.profile-edit__row {
    display: flex;
    margin: 0 -15px;

    .profile-edit__banner {
        width: 30%;
        padding: 0 15px;

        &.banner {

            .banner__img {
                @include banner-img(url('../img/config.png'));
            };
        };
    };
    .profile-edit__info {
        width: 70%;
        padding: 0 15px;

        .profile-edit__messages {
            width: 100%;
            height: auto;
            padding-right: 50px;
            margin-bottom: 15px;

            &:not(:first-child) {
                margin-top: 10px;
            };
        };
    };
};

// Форма редактирования профиля
.form-edit-profile {

    .form-edit-profile__heading {
        display: block;
        margin-bottom: 10px;
        padding-left: 10px;
    };
    .form-edit-profile__input {
        margin-bottom: 25px;
        border: 4px solid $color-main;
        @extend %default-input;
    };
    .form-edit-profile__avatar-upload {
        height: auto;
        width: 100%;
    };
    .form-edit-profile__hide {
        visibility: hidden;
        position: absolute; 
        left: -100%; 
        top: 0;
    };
    .form-edit-profile__submit {
        width: 110px;
        margin-top: 20px;
    };
};

// Кнопка оповещения
.btn_alert {
    height: 30px;
    width: 100%;
    font-size: 15px;
    padding: 5px;
    transition: padding, border, color, fill 300ms cubic-bezier(.92, .33, .49, .88);

    &:hover,
    &:focus {
        border: 1px solid $color-main;
        padding: 5px;
        font-weight: 600;
    };
    &:active {
        transform: none;
        opacity: 0.6;
    };
};

.form-edit-profile__error {
    margin-bottom: 10px;

    .errorlist {
        li {
            position: relative;
            padding-right: 30px;
    
            &::after {
                content: "";
                width: 20px;
                height: 20px;
    
                position: absolute;
                right: 0;
                top: 0;
    
                background-image: url("../img/news/invalid.svg");
                background-size: contain;
                background-repeat: no-repeat;
            };
        };
    };
}
