.error {
    @extend %main-box;
    padding: 50px 25px;

    .error__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-size: 70px;
        font-weight: 800;
        color: $color-main;

        .error__icon {
            width: 85px;
            height: 85px;
            margin-right: 20px;
            fill: $color-main;
        }
    };
    .error__description {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    };
    .error__img {
        height: 250px;
        width: 250px;
        margin: 40px auto 0 auto;
        display: block;
        fill: $color-main;
    };
    
    @media (max-width: 992px) {
        .error__title {
            font-size: 50px;

            .error__icon {
                width: 60px;
                height: 60px;
            };
        };
        .error__description {
            font-size: 18px;
        };
        .error__img {
            height: 200px;
            width: 200px;
        };
    };
    @media (max-width: 768px) {
        .error__description {
            font-size: 20px;
        }
        .error__img {
            height: 150px;
            width: 150px;
        };
    };
    @media (max-width: 576px) {
        border-radius: 0;
        padding: 25px;

        .error__title {
            font-size: 30px;

            .error__icon {
                width: 35px;
                height: 35px;
            }
        };
        .error__description {
            margin-top: 10px;
            font-size: 16px;
        };
        .error__img {
            margin-top: 15px;
            height: 130px;
            width: 130px;
        };
    };
}