.footer {
    @extend %main-box;
    margin-top: 25px;
    margin-bottom: 0;
    border-radius: 0;
    background-color: $color-main;

    @media (max-width: 576px) {
        margin-top: 15px;
    };
}

.footer__container {
    @media (max-width: 992px) {
        width: auto;
    };
};

.footer__row {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 30px 15px;

    .footer__info {
        max-width: 270px;

        .footer__logo {
            display: block;
            height: 100px;
            width: 100px;

            @media (max-width: 576px) {
                margin: 0 auto;
            };
        };
        .footer__nav {
            margin-top: 15px;
        };

        @media (max-width: 992px) {
            width: 100%;
            padding: 0 15px;
        };
        @media (max-width: 768px) {
            max-width: 200px;
        };
        @media (max-width: 576px) {
            max-width: 100%;
            margin-top: 25px;
            order: 3;
        };
    };
    .footer__contact-us {
        max-width: 400px;
        flex-grow: 1;

        @media (max-width: 992px) {
            width: 100%;
            padding: 0 15px;
        };
        @media (max-width: 576px) {
            order: 2;
            margin: 25px auto 0 auto;
            padding: 0 15px;
        };
    };
    .footer__social {
        width: 50px;
        flex-shrink: 0;

        @media (max-width: 992px) {
            width: 80px;
            padding: 0 15px;
        };
        @media (max-width: 768px) {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 0;
            width: 100%;
            height: 50px;

            .social__list {
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;

                .social__item {
                    height: 100%;
                    width: 50px;

                    &:not(:first-child) {
                        margin-top: 0;
                    };
                };
            };
        };

        @media (max-width: 576px) {
            order: 1;
            position: static;
            padding: 0 15px;
        };
    };

    @media (max-width: 992px) {
        margin: 30px -15px;
    };
    @media (max-width: 768px) {
        position: relative;
        padding-bottom: 80px;
    };
    @media (max-width: 576px) {
        flex-direction: column;
        margin: 30px 0px;
        padding-bottom: 0;
    };
};

// Информативная навигация в footer
.nav {

    .nav__list {

        .nav__item {
            width: 100%;
            height: auto;
            border-radius: 5px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            color: $color-block;
            transition: color, border 300ms cubic-bezier(.92, .33, .49, .88);

            &:hover,
            &:focus {
                background-color: $color-block;
                color: $color-main;
            };
            &:active {
                opacity: .7;
            };

            .nav__link {
                min-height: 30px;
                max-height: 60px;
                padding: 5px 10px;
                display: flex;
                align-items: center;
                
                @media (max-width: 576px) {
                    justify-content: center;
                    text-align: center;
                };
            };
        };
    };
};

// Форма для связи
.contact-us {

    .contact-us__form {
        width: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;

        .contact-us__field {
            margin-top: 10px;
            position: relative;

            .contact-us__input { 
                @extend %default-input;
                
                &.is-invalid {
                    border: 3px solid red;
                    color: red;
                };
            };
            .contact-us__textarea {
                height: 100px;
                width: 100%;
                border-radius: 10px;
                padding: 10px 15px 0 15px;
                font-size: 16px;
                font-weight: 400;
                color: $color-main;
                resize: none;
    
                &::placeholder {
                    padding: 10px 15px 0 15px;
                    font-size: 16px;
                    font-weight: 400;
                    color: $color-main;
                };
    
                &.is-invalid {
                    border: 3px solid red;
                    color: red;
                };
            };
            span {
                width: 20px;
                height: 20px;
                display: none;

                position: absolute;
                right: 10px;
                top: 10px;

                background-size: contain;
                background-repeat: no-repeat;

                &.is-invalid {
                    display: block;
                    background-image: url("../img/footer/invalid.svg");
                };

                &.is-valid {
                    display: block;
                    background-image: url("../img/footer/valid.svg");
                };
            };
            .contact-us__invalid-feedback {
                margin-top: 10px;
                padding: 0 10px;
                font-size: 16px;
                font-weight: 400;
                color: $color-block;
            }
        };

        .contact-us__actions {
            width: 100%;
            margin-top: 10px;
            display: flex;
            align-items: center;

            .contact-us__submit-btn {
                width: 110px;
                margin-right: 10px;
                flex-shrink: 0;
            };
            .contact-us__permission {
                display: flex;
                align-items: center;
                margin-left: auto;

                .contact-us__permission-link {
                    margin-left: 5px;
                    padding: 2px;
                    font-size: 16px;
                    font-weight: 400;
                    color: $color-block;
                    transition: color 300ms cubic-bezier(.92, .33, .49, .88);

                    &:hover,
                    &:focus {
                        border-radius: 5px;
                        color: $color-main;
                        background-color: $color-block;
                    };
                    &:active {
                        opacity: .7;
                    };
                };
            };
        };
    };
};

// Ссылки на соцсети
.social {

    .social__list {
        width: 100%;

        .social__item {
            height: auto;
            margin: 0 auto;
            fill: $color-block;
            transition: fill 300ms cubic-bezier(.92, .33, .49, .88);

            &:not(:first-child) {
                margin-top: 10px;
            };
            &:hover,
            &:focus {
                border-radius: 10px;
                fill: $color-main;
                background-color: $color-block;
            };
            &:active {
                transform: scale(.9);
                opacity: .7;
            };

            .social__link {
                display: block;
                height: 100%;
                width: 100%;

                .social__icon {
                    display: block;
                    height: 100%;
                    width: 100%;
                    padding: 10px;

                    &._twitter {
                        padding: 11px;
                    };
                    
                    &._vk {
                        padding: 8px;
                    };
                    
                    &._facebook {
                        padding: 12px;
                    };
                };
            };
        };
    };
};
