.add-news,
.edit-news {
    width: 100%;

    .add-news__form-news,
    .edit-news__form-news {
        width: 100%;
    };
};

.form-news {

    .form-news__item {
        height: auto;
        color: $color-main;

        &:nth-child(n + 3) {
            margin-top: 15px;
        };
        &:nth-child(4) {
            position: relative;
        };

        .form-news__heading {
            width: 100%;
            display: block;
            padding-left: 15px;
            margin-bottom: 10px;
        };
        .form-news__input {
            // margin-top: 10px;
            @extend %default-input;
        };
        .form-news__description {
            width: 100%;
            height: auto;
            // margin-top: 10px;
            display: block;

            .django-ckeditor-widget {
                width: 100%;
                height: auto;
            };
        };
        .form-news__select {
            // margin-top: 10px;
            background-color: transparent;
        };
        .form-news__image-upload {
            height: auto;
            width: 100%;  
        };
    };
    .form-news__submit {
        width: 140px;
        margin-top: 15px;

        &._left {
            margin-left: auto;
        };
    };
};

.select {
	position: relative;
    width: 100%;

    .select__button {
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
    
        background: $color-block;
        border: 4px solid $color-main;
        border-radius: 10px;
        height: 40px;
        
        padding: 0 10px;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $color-main;
    
        cursor: pointer;

        &:focus,
        &._active {
            outline: none;
            box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
        };

        &._active {
            &::after {
                transform: translateY(-50%) rotate(180deg);
            };
        };
        
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
        
            /* Рисуем треугольник */
            width: 0;
            height: 0;
            border-width: 10.4px 6px 0 6px;
            border-color: $color-main transparent transparent transparent;
            border-style: solid;
        
            /* Снимаем клик с треугольника */
            pointer-events: none;
        };
    };
    .select__list {
        display: none;
    
        position: absolute;
        left: 0;
        top: 0;
    
        margin: 0;
        padding: 0;
        list-style-type: none;
    
        background: $color-block;
        box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
        overflow: hidden;
        
        border: 4px solid $color-main;
        border-radius: 10px;
        width: 100%;
    
        z-index: 1;

        &._visible {
            display: block;
        };

        .select__item {
            height: 40px;
            margin: 0;
            padding: 0;
            border: 1px solid $color-main;
            border-bottom: 0px;
            padding: 0 10px;

            display: flex;
            align-items: center;;

            cursor: pointer;

            &:first-child {
                border-radius: 6px 6px 0 0;
            }
            &:last-child {
                border-radius: 0 0 6px 6px;
                border-bottom: 1px solid $color-main;
            }
            &:hover {
                background: rgba(176, 198, 225, 0.26);
            };
        };
    };
    .select__select {
        display: none;
    };
};

.image-upload {
    display: flex;
    align-items: center;
    position: relative;

    .image-upload__file-name {
        height: 40px;
        width: 100%;
        border: 4px solid $color-main;
        border-radius: 10px;
        padding-left: 135px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        color: $color-main;
        background-color: $color-block;

        &._right {
            padding-left: 15px;
            padding-right: 135px;
        };
    };
    .image-upload__btn {
        position: absolute;
        width: 130px;
        bottom: 0;
        left: 0;

        &._right {
            right: 0;
            left: auto;
        };
        &:active {
            transform: none;
            opacity: 0.6;
        };

        .image-upload__btn-icon {
            height: 20px;
            width: 20px;
            margin-right: 10px;
            display: block;
        };
    };
};

.form-news__hide {
    visibility: hidden;
    position: absolute; 
    left: -100%; 
    top: 0;
}

.form-news__error {
    margin-bottom: 10px;

    .errorlist {
        li {
            position: relative;
            padding-right: 30px;
    
            &::after {
                content: "";
                width: 20px;
                height: 20px;
    
                position: absolute;
                right: 0;
                top: 0;
    
                background-image: url("../img/news/invalid.svg");
                background-size: contain;
                background-repeat: no-repeat;
            };
        };
    };
}


