.header {
    @extend %main-box;
    border-radius: 0;

    @media (max-width: 768px) {
        position: fixed;
        z-index: 1;
    };
}

.header__row {
    height: 60px;
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.header__sidebar-icon {
    display: none;

    @media (max-width: 768px) {
        width: 40px;
        height: 30px;
        margin-right: 25px;
        border: none;
        display: block;
        background-color: transparent;
    };
    @media (max-width: 576px) {
        margin-right: 15px;
        order: 1;
    };
};

@media (max-width: 768px) {
    .sidebar-icon {
        display: block;
        position: relative;
        cursor: pointer;

        span,
        &::before,
        &::after {
            left: 0;
            position: absolute;
            height: 5px;
            width: 100%;
            background-color: $color-main;
        };
        &::before {
            content: "";
            top: 0;
        };
        &::after {
            content: "";
            bottom: 0;
        };
        span {
            top: 50%;
            transform: translate(0px, -50%);
            transition: all 500ms ease-out 200ms;
        };
    };
};

.header__logo {
    height: 40px;
    width: 40px;

    @media (max-width: 576px) {
        order: 2;
    };
};

.logo {

    .logo__link {
        display: block;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
    
    .logo__img {
        height: 100%;
        width: 100%;
    }
}

.header__btn-add-post {
    margin-left: 25px;

    @media (max-width: 576px) {
        order: 4;
    };
}

.btn-add-post {
    height: 40px;
    width: 150px;

    .btn-add-post__text {

        @media (max-width: 576px) {
            display: none;
        };
    };
    .btn-add-post__icon {
        height: 20px;
        width: 20px;
        display: none;

        @media (max-width: 576px) {
            display: block;
        };
    };

    @media (max-width: 576px) {
        width: 40px;
        margin-left: 0;
        padding: 0;

        &:hover,
        &:focus {
            padding: 0;
        };
    };
};

.header__right {
    margin-left: auto;
    display: flex;
    align-items: center;

    .header__avatar {
        height: 40px;
        width: 40px;
        border: 4px solid $color-main;

        @media (max-width: 576px) {
            display: none;
        };
    };
    .header__account-btn {
        height: 40px;
        width: 110px;
        margin-left: 25px;
        @media (max-width: 576px) {
            margin-left: 0;
        };
    };

    @media (max-width: 576px) {
        order: 3;
        margin: 0 auto;
    };
};

.avatar {
    border-radius: 10px;
    overflow: hidden;
    background-color: $color-block;
    transition: transform 300ms cubic-bezier(.92, .33, .49, .88);

    &:hover,
    &:focus {
        transform: scale(1.2);
    }

    &:active {
        transform: scale(1.0);
        opacity: 0.7;
    }

    .avatar__img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
};

.account-btn {
    .account-btn__icon {
        height: 25px;
        width: 25px;
        margin-right: 5px;
    };
};
