.news {
    width: 100%;

    .news__nav-filter {
        margin-bottom: 25px;
        
        @media (max-width: 576px) {
            margin-bottom: 15px;
        };
    };
}

// Фильтр новостей
.nav-filter {

    .nav-filter__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 50px;

        .nav-filter__item {
            height: 40px;
            padding: 0 10px;
            fill: $color-main;
            transition: border, color 100ms cubic-bezier(.92, .33, .49, .88);

            &:hover,
            &:focus {
                border-radius: 10px;
                fill: $color-block;
                color: $color-block;
                background-color: $color-main;
            };
            &:active {
                transform: scale(.9);
                opacity: .7;
            };

            .nav-filter__link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                .nav-filter__text {
                    @media (max-width: 576px) {
                        display: none;
                    };
                };

                .nav-filter__icon {
                    display: none;
                    height: 25px;
                    width: 25px;
                    margin: 0 auto;

                    @media (max-width: 576px) {
                        display: block;
                    };
                };
            };

            @media (max-width: 576px) {
                width: 80px;
                border: 4px solid $color-main;
                border-radius: 10px;
                color: $color-main;
                background-color: $color-block;
            };
        };
    };
};

// Список новостей
.news {
    width: 100%;
    height: auto;

    .news__list {
        width: 100%;
        height: auto;
    };
};

// Новостной блок
.news__item {
    @extend %main-box;
    overflow: hidden;

    &:not(:first-child) {
        margin-top: 25px
    };

    .news__img-link {
        width: 100%;
        height: 300px;
        display: block;

        .news__img-container {
            display: block;
            width: 100%;
            height: 100%;

            .news__img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
            };
        };

        @media (max-width: 576px) {
            height: 200px;
        };
    };

    .news__news-info {
        padding: 25px;

        @media (max-width: 576px) {
            padding: 15px;
        };
    };

    @media (max-width: 576px) {
        border-radius: 0;

        &:not(:first-child) {
            margin-top: 10px
        };
    };
};

// Тело новости
.news__info {

    .news-info__title {
        display: inline-block;
        font-weight: 600;
        transition: padding, border, fill, color 300ms cubic-bezier(.92, .33, .49, .88);
        
        &:hover,
        &:focus {
            color: $color-main;
        };
        &:active {
            opacity: .7;
        };

        .news-info__link {
            height: 100%;
            width: 100%;
            display: block;
        };
    };

    .news-info__description {
        display: block;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
        color: $color-second;
    };

    .news-info__author {
        margin-top: 20px;
        text-align: right;
        font-size: 18px;
        font-weight: 500;
        color: $color-main;
    };

    .news__action {
        width: 100%;
        height: auto;
        margin-top: 15px;
        display: flex;
    };
};


// Переопределяем ширину для вставленного видео
.news__info p iframe {
    width: 100%;
};

.news__info p img {
    width: 100%;
};

// Активные элементы новости
.news-actions {
    
    .news-actions__edit-news-btn {
        width: 180px;
        flex-shrink: 0;

        @media (max-width: 576px) {
            width: 40px;
            padding: 0;
            span {
                display: none;
            };

            .edit-news-btn__icon {
                margin: 0;
            };
        };
    };

    .news-actions__list {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: right;
        margin-left: auto;

        .news-actions__item {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 500;

            &:not(:first-child) {
                margin-left: 10px;
            };
        };
    };
};

.news-actions__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: $color-minor;

    &._active {
        fill: $color-main;
    };

    .news-actions__icon {
        @extend %img-box;
        height: 20px;
        width: 20px;
        margin-right: 5px;
    
        &._views {
            background-image: url('../img/view.svg');
            width: 21px;
            fill: $color-minor;
        };
        
        &._comments {
            background-image: url('../img/comments.svg');
            height: 19px;
        };
        &._like {
            height: 22px;
            width: 22px;
        };
        
        &._favorite {
            height: 17px;
            width: 17px;
        };
    };
};


// Кнопка редактирования новости
.edit-news-btn {

    .edit-news-btn__icon {
        height: 16px;
        width: 16px;
        margin-left: 10px;
    };
};
