.pages {
    width: 100%;
    height: auto;
    margin-top: 25px;
    padding: 0 20px;

    .pages__list{
        display: flex;
        justify-content: center;

        .pages__item {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 600;
            color: $color-main;
            border-radius: 50%;
            background-color: $color-block;
            cursor: pointer;
            transition: color 300ms cubic-bezier(.92, .33, .49, .88);
            position: relative;

            &:not(:first-child) {
                margin-left: 10px;
            };
            &:hover,
            &:focus {
                color: $color-block;
                background-color: $color-main;
                transform: scale(1.05);
            };
            &:active {
                color: $color-block;
                background-color: $color-main;
                transform: scale(1);
            };
            &._active {
                color: $color-block;
                background-color: $color-main;
            };

            .pages__link {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            };
        };
    };
};

