.page {
    @extend %main-box;
    padding: 25px;

    .page__title {
        display: inline-block;
        font-weight: 600;
        margin: 0;
    };
    .page__descriptions {
        margin-top: 10px;
    };
}