.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 2;

    &.open {
        opacity: 1;
        visibility: visible;

        .popup__body {
            .popup__content {
                transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
                opacity: 1;
            };
        }
    };

    .popup__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;

        .popup__content {
            background-color: $color-block;
            max-width: 800px;
            border-radius: 25px;
            padding: 30px;
            position: relative;
            opacity: 0;
            transition: all 0.8s ease 0s;
            transform: perspective(600px) translate(0px, -100%) rotateX(45deg);

            &.succes-feedback {
                max-width: 600px;
            };

            .popup__title {
                width: 100%;
                text-align: center;
                font-size: 36px;
                font-weight: 700;
                color: $color-main;
            };

            .popup__description {
                margin-top: 20px;
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                color: $color-second;
            };

            .popup__close {
                position: absolute;
                right: 10px;
                top: 10px;

                .popup__close-icon {
                    display: block;
                    width: 30px;
                    height: 30px;
                    fill: $color-main;
                    transition: border, padding, fill 300ms cubic-bezier(.92, .33, .49, .88);

                    &:hover,
                    &:focus {
                        border-radius: 20px;
                        padding: 5px;
                        background-color: $color-main;
                        fill: $color-block;
                        transform: scale(1.2);
                    };

                    &:active {
                        transform: scale(1.0);
                    };
                };
            };

            .popup__form {
                max-width: 300px;

                .popup__input {
                    margin-top: 20px;
                    @extend %default-input;
                };

                .popup__checkbox {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    font-size: 15px;
                    font-weight: 400;
                    color: $color-minor;

                    .popup-checkbox {
                        margin-left: 5px;
                        margin-right: 10px;
                    };
                    label {
                        text-align: center;
                    };
                };

                .popup__sign_in {
                    width: 100%;
                    margin-top: 20px;
                };
                
                .popup__sign_up {
                    margin-top: 20px;
                };
            };
            
            .popup__img {
                width: 250px;
                height: 250px;
                margin: 20px auto 0 auto;
                display: block;
            };
        };
    };
};


.popup___area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
};

.popup__link {
    display: block;
    margin-left: auto;
    font-size: 15px;
    font-weight: 500;
    color: $color-main;
    transition: color 300ms cubic-bezier(.92, .33, .49, .88);
    text-align: center;

    
    &:hover,
    &:focus {
        transform: scale(1.05);
    };

    &:active {
        transform: scale(1.0);
        color: #8080ff;
    };
}

