.profile {
    
    .profile__header {
        @extend %main-box;
        padding: 30px;
        display: flex;
        position: relative;
    };

    .profile__profile-nav {
        margin-top: 25px;

        @media (max-width: 576px) {
            margin-top: 15px;
        };
    };

    .profile__body {
        width: 100%;
        display: inline-block;
        margin-top: 25px;

        .profile__news,
        .profile__comments,
        .profile__follow,
        .profile__favorites {
            width: 100%;
            height: auto;
        };

        .profile__comments {
            margin-top: 0;

            .comments__list {
                margin-top: 0;
            }
        };

        .profile__follow {
            width: auto;
            display: flex;
            
            @media (max-width: 576px) {
                display: block;

                .follow__box {

                    &:nth-child(2) {
                        margin-top: 15px
                    };
                };
            };
        };

        @media (max-width: 576px) {
            margin-top: 15px;
        };
    };
};

// Информационные элементы профиля
.profile__info {

    .profile__container-avatar {
        width: 150px;
        height: 150px;
        display: block;
        border-radius: 25px;
        overflow: hidden;

        .profile__avatar {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        };

    };
    .profile__heading {
        margin-top: 20px;
        display: flex;
        align-items: center;

        .profile__title {
            font-weight: 700;
        };
        .profile__like-counter {
            height: 20px;
            min-width: 45px;
            margin-left: 10px;
            padding: 10px;
            font-size: 10px;
        };
    };
    .profile__date {
        margin-top: 10px;
        font-size: 12px;
        font-weight: 400;
        color: $color-minor;
    };
};

.like-counter {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: $color-block;
    background-color: $color-main;
    fill: $color-block;

    .like-counter__icon {
        height: 12px;
        width: 12px;
        margin-right: 5px;
        display: block;
    };
};

// Активные элементы профиля
.profile__action {
    margin-left: auto;
    display: flex;

    .profile__edit-profile-btn {
        width: 150px;

        @media (max-width: 992px) {
            width: 100%;
        };
        @media (max-width: 576px) {
            padding: 0;
            .edit-profile-btn__text {
                display: none
            };
            .edit-profile-btn__icon {
                margin: 0;
            };
        };
    };

    .profile__message-profile-btn {
        width: 100px;
        margin-right: 15px;
    
        @media (max-width: 992px) {
            width: 100%;
            margin-bottom: 15px;
            margin-right: 0;
        };
        @media (max-width: 576px) {
            padding: 0;
    
            .message-profile-btn__text {
                display: none
            };
            .message-profile-btn__icon {
                margin: 0;
            };
        };
    };

    .profile__follow-profile-btn {  
        width: 150px;

        @media (max-width: 992px) {
            width: 100%;
        };
        @media (max-width: 576px) {
            padding: 0;
    
            .follow-profile-btn__text {
                display: none
            };
            .follow-profile-btn__icon {
                margin: 0;
            };
        };
    }

    @media (max-width: 992px) {
        flex-direction: column;
        width: 150px;
    };
    @media (max-width: 576px) {
        width: 40px;
    };
};

.edit-profile-btn {

    .edit-profile-btn__icon {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        display: block;
    };
}

.follow-profile-btn {

    &._big {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);

        @media (max-width: 992px) {
            width: 150px;
        };
        @media (max-width: 576px) {
            width: 40px;
            padding: 0;

            .follow-profile-btn__text {
                display: none;
            };
            .follow-profile-btn__icon {
                margin: 0;
            };
        };
    };
    &.hide_all {
        display: none;
    }

    .follow-profile-btn__icon {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        display: block;
    };
};

.message-profile-btn {

    .message-profile-btn__icon {
        height: 20px;
        width: 20px;
        margin-left: 10px
    }
}

// Profile slider
.profile-nav {
    @extend %main-box;
    padding: 15px;
};

// Nav profile slider
.profile-nav__slider {
    position: relative;

    @media (max-width: 992px) {
        padding: 0 50px;
    };

    .slick-arrow {
        height: 25px;
        width: 25px;
        border: none;
        background-color: transparent;
        position: absolute;
        font-size: 0;

        &.slick-prev {
            top: 50%;
            left: 25px;
            transform: translate(-50%, -50%);
            background: center / contain no-repeat url("../img/profile/left-arrow.svg");
        };
        &.slick-next {
            top: 50%;
            right: 0;
            transform: translate(-50%, -50%);
            background: center / contain no-repeat url("../img/profile/right-arrow.svg");
        };
        &.slick-disabled {
            opacity: .5;
        }
    };

    .slick-list {
        overflow: hidden;
        width: 100%;

        .slick-track{
            display: flex;
            align-items: center;

            .profile-nav__item {
                margin: 0 5px;
                font-size: 20px;
                font-weight: 600;
                color: $color-main;

                &._active {
                    border-radius: 10px;
                    color: $color-block;
                    background-color: $color-main;
                }
                &:hover,
                &:focus {
                    border-radius: 10px;
                    color: $color-block;
                    background-color: $color-main;
                };
                &:active {
                    transform: scale(.9);
                    opacity: .7;
                };

                .profile-nav__link {
                    height: 40px;
                    width: 100%;
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                };
            };
        };
    };
};

// Подписки профиля
.follow {
    display: flex;
    margin: 0 -10px;
    flex: 0 1 50%;

    .follow__box {
        width: 100%;
        padding: 0 10px;

        .follow__body {
            @extend %main-box;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 15px;

            .follow__btn-more {
                width: 100%;
                margin-top: 15px;
            };
        };
    };
};

.follow__list {
    width: 100%;
    margin-top: 15px;
    flex-grow: 1;

    .follow__item {
        height: 40px;
        border: 4px solid $color-main;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        color: $color-main;
        background-color: $color-block;
        position: relative;
        transition: color 300ms cubic-bezier(.92, .33, .49, .88);

        &:hover,
        &:focus {
            color: $color-block;
            background-color: $color-main;
        };
        &:active {
            transform: scale(.9);
            opacity: .7;
        };
        &:not(:first-child) {
            margin-top: 10px;
        };
        &._big {
            height: 60px;
            border-radius: 25px;
            font-size: 20px;

            &:not(:first-child) {
                margin-top: 15px;
            };
        };

        .follow__link {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            display: flex;
            align-items: center;

            &._big {
                padding: 0 15px;
            };

            .follow__avatar {
                height: 24px;
                width: 24px;
                margin-right: 10px;
                background-color: $color-block;
                border-radius: 50%;
                overflow: hidden;

                &._big {
                    height: 40px;
                    width: 40px;
                    margin-right: 20px;
                };

                .follow__avatar-icon {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                };
            };
        };
    };
};

.follow__more {
@extend %main-box;
    padding: 30px;
};