.section-sidebar {
    max-width: 250px;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    position: sticky;
    top: 25px;

    @media (max-width: 992px) {
        max-width: 280px;
        width: 100%;
        padding: 0 15px;
    };
    @media (max-width: 768px) {
        height: 100%;
        max-width: 300px;
        margin-top: -25px;
        padding: 0;
        position: fixed;
        left: -150%;
        z-index: 2;
        transition: left .5s cubic-bezier(.92, .33, .49, .88);

        &._active {
            left: 0;
            transition: left .5s cubic-bezier(.92, .33, .49, .88);
        }
    };
}

.sidebar__container {

    @media (max-width: 768px) {
        height: 100%;
    };
};

.sidebar__row {
    @extend %main-box;
    padding: 30px 15px;

    @media (max-width: 768px) {
        height: 100%;
        border-radius: 0;
        overflow: auto;
        padding: 30px;
    };
}

.sidebar__header {
    display: none;

    @media (max-width: 768px) {
        height: 60px;
        width: 100%;
        margin-top: -30px;
        display: flex;
        align-items: center;

        .sidebar__close {
            width: 40px;
            height: 30px;
            margin-right: 25px;
            border: none;
            background-color: transparent;
        };
        .sidebar__logo {
            width: 40px;
            height: 40px;
        };
    };
};

.sidebar__form-search {
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 768px) {
        margin-top: 15px;
    };
}

//Форма для поиска по сайту
.form-search {

    .form-search__input-box {
        height: auto;
        display: flex;
        align-items: center;
        position: relative;

        .form-search__input {
            @extend %default-input;
            flex-grow: 1;
            border: 4px solid $color-main;
            padding: 0 10px;
            padding-right: 35px;
        };

        .form-search__input-icon {
            @include banner-img(url("../img/search.svg"));
            height: 20px;
            width: 20px;
            position: absolute;
            right: 10px;
        };
    };

    .form-search__btn {
        margin-left: 10px;
        width: 60px;
    };
}

// Активные элементы sidebar
.actions {
    margin-top: 25px;

    .actions__list {
        
        .actions__item {
            height: 40px;

            &:nth-child(1) {
                display: none;

                @media (max-width: 768px) {
                    display: block;
                };
            };

            .actions__link {
                height: 100%;
                width: 100%;
                padding: 0 10px;
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 500;
                color: $color-main;
                fill: $color-main;
                transition: border, color, fill 100ms cubic-bezier(.92, .33, .49, .88);
                
                &:hover,
                &:focus {
                    border-radius: 10px;
                    fill: $color-block;
                    color: $color-block;
                    background-color: $color-main;

                    .actions__message-counter {
                        color: $color-main;
                        background-color: $color-block;
                    };
                };
                &:active {
                    transform: scale(1.05);
                };

                .actions__icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    height: 20px;
                    width: 20px;

                    &.actions__icon_category {
                        padding: 1px;
                    };
                    
                    &.actions__icon_bookmark {
                        padding-top: 1px;
                    };
                };
                .actions__message-counter {
                    height: 25px;
                    min-width: 25px;
                    margin-left: 10px;
                    border-radius: 5px;
                    padding: 0 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 500;
                    color: $color-block;
                    background-color: $color-main;
                    transition: color 300ms cubic-bezier(.92, .33, .49, .88);

                    @media (max-width: 768px) {
                        height: 30px;
                        min-width: 30px;
                        font-size: 25px;
                    };
                };

                @media (max-width: 768px) {
                    font-size: 25px;
                };
            };
        };
    };

    @media (max-width: 768px) {
        margin-top: 15px;
    };
};

.sidebar__form-filter {
    position: relative;
}

.filter-box_hidden {
    position: absolute;
    visibility: none;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 0.6s ease  0s;
}

.form-filter__box {
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0px);
    transition: all 0.6s ease  0s;
    
}

//Фильтр новостных категорий
.form-filter {

    .form-filter__list {
        margin-top: 15px;
        margin-left: 10px;

        .form-filter__item {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            color: $color-second;

            &:not(:first-child) {
                margin-top: 10px;
            };

            .form-filter__checkbox {
                margin-right: 10px;
            };
        };
    };

    .form-filter__btn {
        width: 100%;
        margin-top: 10px;
    };
};
