$color-main: #4b4bff;
$color-block: white;
$color-background: #d9d9d9;
$color-second: black;
$color-minor: #8f8e8e;

%main-box {
    width: 100%;
    height: auto;
    border-radius: 25px;
    background-color: $color-block;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

%img-box {
    height: 100%;
    width: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
};

%default-input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    color: $color-main;
    
    &::placeholder {
        font-size: 16px;
        padding: 0 15px;
    };
};

%close {
    position: absolute;
    right: 15px;
    top: 15px;

    .close__icon {
        width: 30px;
        height: 30px;
        display: block;
        fill: $color-main;
        transition: border, padding, fill 300ms cubic-bezier(.92, .33, .49, .88);

        &:hover,
        &:focus {
            padding: 5px;
            border-radius: 50%;
            background-color: $color-main;
            fill: $color-block;
            transform: scale(1.2);
        };
        &:active {
            transform: scale(1.0);
        };
    };
};

@mixin default-btn( $c, $fc) {
    height: 40px;
    border: 4px solid $fc;
    border-radius: 10px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: $fc;
    background-color: $c;
    fill: $fc;
    cursor: pointer;
    transition: padding, border, color, fill 300ms cubic-bezier(.92, .33, .49, .88);
   
    &:hover,
    &:focus {
        border: 4px solid $c;
        padding: 0 10px;
        color: $c;
        background-color: $fc;
        fill: $c;
    };
    
    &:active {
        transform: scale(0.9);
        opacity: .7;
    };
}

@mixin banner-img($url) {
    @extend %img-box;
    background-image: $url;
};

// Подключаем шрифты
@import "font.scss";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
};

html {
    background-color: $color-background;
    font-family: 'Roboto', sans-serif;
}

body {
    // transition: all 1s cubic-bezier(.92, .33, .49, .88);
    
    &.lock { 
        overflow: hidden;
    };
    
    @media (max-width: 768px) {
        position: relative;

        &._active {
            &::before {
                content: "";
                position: fixed;
                width: 100vw;
                height: 100vh;
                background-color: $color-main;
                opacity: .9;
                z-index: 2;
                transition: all 1s cubic-bezier(.92, .33, .49, .88);
            };
        };
    };
};

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 576px) {
        padding: 0;
    };
}

.hide_all {
    display: none;
}

.title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: $color-main;
    
    &._black {
        color: $color-second;
    }
    &._white {
        color: $color-block;
    }
    &._big {
        font-size: 36px;
        line-height: 40px;
    };

    @media (max-width: 576px) {
        font-size: 18px;
        line-height: 22px;
    };
}

.btn {
    @include default-btn($color-main, $color-block);
    border: none;
};

.btn-inverse {
    @include default-btn($color-block, $color-main);
    border: none;
};

.btn-border {
    @include default-btn($color-block, $color-main);

    &:hover,
    &:focus {
        border: none;
    };
}

// Подключаем стили header
@import "header.scss";

.main {
    width: 100%;
    margin-top: 25px;
    flex-grow: 1;

    @media (max-width: 768px) {
        margin-top: 85px;
    };

    @media (max-width: 576px) {
        margin-top: 75px;
    };
}

.main__container {
    @media (max-width: 992px) {
        width: auto;
    };
}

.main__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        justify-content: normal;
    };
    @media (max-width: 992px) {
        margin: 0 -15px;
    };
    @media (max-width: 768px) {
        margin: 0;
        position: relative;
    };
}

// Подключаем стили header
@import "sidebar.scss";

// Content
.section-content {
    max-width: 650px;
    flex-grow: 1;
    min-width: 0;

    @media (max-width: 1200px) {
        margin: 0 auto;
    };
    @media (max-width: 992px) {
        width: 100%;
        padding: 0 15px;
    };
    @media (max-width: 768px) {
        padding: 0;
    };
}

// Подключаем стили news
@import "news.scss";

// Подключаем стили add news
@import "form_news.scss";

// Подключаем стили profile
@import "profile.scss";

// Подключаем стили profile
@import "edit-profile.scss";

// Подключаем стили comments
@import "comments.scss";

// Подключаем стили comments
@import "dialog.scss";

// Подключаем стили popup
@import "popup.scss";

// Подключаем стили add
@import "add.scss";

// Подключаем стили footer
@import "footer.scss";

// Подключаем стили pages
@import "pages.scss";

// Подключаем стили account
@import "account.scss";

// Подключаем стили account
@import "ckeditor.scss";

// Подключаем стили account
@import "page.scss";

// Подключаем стили errors
@import "error.scss";