{% extends 'base.html' %}
{% block content %}

{% include 'include/sidebar.html' %}

<section class="section-content">
    <div class="content__container">
        <div class="content__row">
            <section class="error">
                <h1 class="error__title">
                    <svg class="error__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 485.811 485.811" style="enable-background:new 0 0 485.811 485.811;" xml:space="preserve">
                        <path d="M476.099,353.968l-170.2-294.8c-27.8-48.7-98.1-48.7-125.8,0l-170.3,294.8c-27.8,48.7,6.8,109.2,62.9,109.2h339.9
                            C468.699,463.168,503.899,402.068,476.099,353.968z M242.899,397.768c-14.8,0-27.1-12.3-27.1-27.1s12.3-27.1,27.1-27.1
                            c14.8,0,27.1,12.3,26.5,27.8C270.099,385.468,257.099,397.768,242.899,397.768z M267.599,222.568c-1.2,21-2.5,41.9-3.7,62.9
                            c-0.6,6.8-0.6,13-0.6,19.7c-0.6,11.1-9.3,19.7-20.4,19.7s-19.7-8-20.4-19.1c-1.8-32.7-3.7-64.8-5.5-97.5
                            c-0.6-8.6-1.2-17.3-1.9-25.9c0-14.2,8-25.9,21-29.6c13-3.1,25.9,3.1,31.5,15.4c1.9,4.3,2.5,8.6,2.5,13.6
                            C269.499,195.468,268.199,209.068,267.599,222.568z"/>
                    </svg>
                    {% block error_title %}
                        Ошибка 404
                    {% endblock error_title %}
                </h1>
                <p class="error__description">
                    {% block error_description %}
                        Страница не найдена. Попробуйте что-нибудь другое!
                    {% endblock error_description %}
                </p>
                <svg  class="error__img" id="bold" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg">
                    <path d="m14.25 0h-11.5c-1.52 0-2.75 1.23-2.75 2.75v15.5c0 1.52 1.23 2.75 2.75 2.75h4.9c.1-.4.28-.78.51-1.13l5.22-8.48c.67-1.15 1.97-1.89 3.37-1.89.08 0 .17 0 .25.01v-6.76c0-1.52-1.23-2.75-2.75-2.75zm-10.25 4h4c.55 0 1 .45 1 1s-.45 1-1 1h-4c-.55 0-1-.45-1-1s.45-1 1-1zm5 10h-5c-.55 0-1-.45-1-1s.45-1 1-1h5c.55 0 1 .45 1 1s-.45 1-1 1zm4-4h-9c-.55 0-1-.45-1-1s.45-1 1-1h9c.55 0 1 .45 1 1s-.45 1-1 1z"/>
                    <path d="m23.707 21.024-5.278-8.574c-.345-.586-.989-.95-1.679-.95s-1.334.364-1.669.934l-5.266 8.556c-.206.306-.315.671-.315 1.055 0 1.078.88 1.955 1.962 1.955h10.576c1.082 0 1.962-.877 1.962-1.955 0-.384-.109-.749-.293-1.021zm-6.957.976c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1zm1-3.5c0 .552-.447 1-1 1s-1-.448-1-1v-2c0-.552.447-1 1-1s1 .448 1 1z"/>
                </svg>
            </section>
        </div>
    </div>
</section>
{% include 'include/add.html' %}

{% endblock content %}