{% load static %}
<section class="section-add">
    <div class="add__container">
        <div class="add__row">
            <ul class="add__list">
                <li class="add__item">
                    <img class="add__img" src="{% static 'img/add1.jpg' %}" alt="add1">
                    <a class="add__link" href="#">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </a>
                </li>
                <li class="add__item">
                    <img class="add__img" src="{% static 'img/add2.jpg' %}" alt="add2">
                    <a class="add__link" href="#">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </a>
                </li>
                <li class="add__item">
                    <img class="add__img" src="{% static 'img/add3.jpg' %}" alt="add3" >
                    <a class="add__link" href="#">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </a>
                </li>
                <li class="add__item">
                    <img class="add__img" src="{% static 'img/add4.jpg' %}" alt="add4">
                    <a class="add__link" href="#">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>