{% load static profiles_tag %}
<header class="header">
    <div class="container header__container">
        <div class="header__row">

            <button class="header__sidebar-icon sidebar-icon">
                <span></span>
            </button>
            <div class="header__logo logo">
                <a href="/" class="logo__link">
                    <img class="logo__img" src="{% static 'img/header-logo3.png' %}" alt="logo">
                </a>
            </div>
            <a href="{% url 'add_news' %}" class="header__btn-add-post btn-add-post btn">
                <span class="btn-add-post__text">
                    + Новая запись
                </span>
                <svg  class="btn-add-post__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                    <path d="M554.625,248.625h-191.25V57.375C363.375,25.685,337.69,0,306,0c-31.69,0-57.375,25.685-57.375,57.375v191.25H57.375
                        C25.685,248.625,0,274.31,0,306c0,31.69,25.685,57.375,57.375,57.375h191.25v191.25C248.625,586.315,274.31,612,306,612
                        c31.69,0,57.375-25.685,57.375-57.375v-191.25h191.25C586.315,363.375,612,337.69,612,306
                        C612,274.31,586.315,248.625,554.625,248.625z"/>
                </svg>
            </a>

            <div class="header__right">

                {% if user.is_authenticated %}
                    <a href="{% url 'view_profile' %}" class="header__avatar avatar">
                        {% if user.profile.avatar %}
                            {% get_webp_avatar user.id as webp_img %}
                            <picture>
                                {% if webp_img %}
                                    <source srcset="{% static webp_img %}" type="image/webp">
                                {% endif %}
                                <img src="{{ user.profile.get_avatar_url }}" alt="image" class="avatar__img">
                            </picture>
                        {% else %}
                            <img src="{{ user.profile.get_avatar_url }}" alt="image" class="avatar__img">
                        {% endif %}
                    </a>
                    <a href="#logout" class="header__account-btn account-btn btn-border popup-link">
                        <svg class="account-btn__icon" viewbox="-42 0 512 512.002">
                            <path d="m210.351562 246.632812c33.882813 0 63.222657-12.152343 87.195313-36.128906 23.972656-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.132812 87.195312 23.976563 23.96875 53.3125 36.125 87.1875 36.125zm0 0"/>
                            <path d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.308594-10.339844-7.808594-20.550781-13.371094-30.335938-5.773438-10.15625-12.554688-19-20.164063-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.039063 5.339844-10.972656 0-22.085937-1.796876-33.046874-5.339844-11.210938-3.621094-20.296876-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.75-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.605469 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.058594 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.796875-1.023438 19.964844-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.441406 23.734375 65.066406 23.734375h246.53125c26.625 0 48.511719-7.984375 65.0625-23.734375 16.757813-15.945312 25.253906-37.585937 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm0 0"/>
                        </svg>
                        Выйти
                    </a>
                {% else %}
                    <a href="#login" class="header__account-btn account-btn btn-border popup-link">
                        <svg class="account-btn__icon" viewbox="-42 0 512 512.002">
                            <path d="m210.351562 246.632812c33.882813 0 63.222657-12.152343 87.195313-36.128906 23.972656-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.132812 87.195312 23.976563 23.96875 53.3125 36.125 87.1875 36.125zm0 0"/>
                            <path d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.308594-10.339844-7.808594-20.550781-13.371094-30.335938-5.773438-10.15625-12.554688-19-20.164063-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.039063 5.339844-10.972656 0-22.085937-1.796876-33.046874-5.339844-11.210938-3.621094-20.296876-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.75-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.605469 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.058594 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.796875-1.023438 19.964844-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.441406 23.734375 65.066406 23.734375h246.53125c26.625 0 48.511719-7.984375 65.0625-23.734375 16.757813-15.945312 25.253906-37.585937 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm0 0"/>
                        </svg>
                        Войти
                    </a>
                {% endif %}
            </div>
        </div>
        
    </div>
</header>

{# Login modal #}
<div class="popup" id="login">
    <div class="popup__body">
        <div class="popup__content">

            <!-- Modal Header -->
            <h4 class="popup__title">
                Вход
            </h4>
            <a href="" class="popup__close close-popup">
                <svg class="popup__close-icon" enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewbox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M81.646,64l22.248-22.249c3.48-3.48,3.474-9.131-0.019-12.623l-5.006-5.005  c-3.489-3.49-9.142-3.499-12.622-0.019L64,46.354L41.753,24.106c-3.484-3.483-9.133-3.472-12.624,0.018l-5.005,5.005  c-3.491,3.492-3.501,9.14-0.018,12.623L46.354,64L24.108,86.246c-3.483,3.484-3.472,9.133,0.018,12.623l5.005,5.006  c3.492,3.492,9.14,3.502,12.623,0.018L64,81.647l22.247,22.246c3.48,3.481,9.131,3.475,12.622-0.019l5.006-5.006  c3.489-3.489,3.498-9.142,0.019-12.622L81.646,64z"/>
                </svg>
            </a>

            <!-- Modal body -->
            {% include 'account/custom_login.html' %}

        </div>
    </div>
</div>

{# Signup modal #}
<div class="popup" id="sign_up">
    <div class="popup__body">
        <div class="popup__content">

            <!-- Modal Header -->
            <h4 class="popup__title">
                Регистрация
            </h4>
            <a href="" class="popup__close close-popup">
                <svg class="popup__close-icon" enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewbox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M81.646,64l22.248-22.249c3.48-3.48,3.474-9.131-0.019-12.623l-5.006-5.005  c-3.489-3.49-9.142-3.499-12.622-0.019L64,46.354L41.753,24.106c-3.484-3.483-9.133-3.472-12.624,0.018l-5.005,5.005  c-3.491,3.492-3.501,9.14-0.018,12.623L46.354,64L24.108,86.246c-3.483,3.484-3.472,9.133,0.018,12.623l5.005,5.006  c3.492,3.492,9.14,3.502,12.623,0.018L64,81.647l22.247,22.246c3.48,3.481,9.131,3.475,12.622-0.019l5.006-5.006  c3.489-3.489,3.498-9.142,0.019-12.622L81.646,64z"/>
                </svg>
            </a>

            <!-- Modal body -->
            {% include 'account/custom_signup.html' %}

        </div>
    </div>
</div>

{# Logout modal #}
<div class="popup" id="logout">
    <div class="popup__body">
        <div class="popup__content">

            <!-- Modal Header -->
            <h4 class="popup__title">
                Выйти
            </h4>
            <p class="popup__description">
                Вы действительно хотите выйти?
            </p>
            <a href="" class="popup__close close-popup">
                <svg class="popup__close-icon" enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewbox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M81.646,64l22.248-22.249c3.48-3.48,3.474-9.131-0.019-12.623l-5.006-5.005  c-3.489-3.49-9.142-3.499-12.622-0.019L64,46.354L41.753,24.106c-3.484-3.483-9.133-3.472-12.624,0.018l-5.005,5.005  c-3.491,3.492-3.501,9.14-0.018,12.623L46.354,64L24.108,86.246c-3.483,3.484-3.472,9.133,0.018,12.623l5.005,5.006  c3.492,3.492,9.14,3.502,12.623,0.018L64,81.647l22.247,22.246c3.48,3.481,9.131,3.475,12.622-0.019l5.006-5.006  c3.489-3.489,3.498-9.142,0.019-12.622L81.646,64z"/>
                </svg>
            </a>

            <!-- Modal body -->
            {% include 'account/custom_logout.html' %}
        </div>
    </div>
</div>