<ul class="pages__list">
    {% if page_obj.has_previous %}
        {% if page_obj.number|add:'-2' > 1 %}
            <li class="pages__item">
                <a href="?{{ q }}{{ category }}page=1" class="pages__link">1</a>
            </li>
        {% endif %}
        {% if page_obj.number|add:'-2' >= 2 %}
            <li class="pages__item">
                <a href="?{{ q }}{{ category }}page={{ page_obj.previous_page_number|add:'-2' }}" class="pages__link">
                    <span>• • •</span>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if paginator.page_range|length > 1 %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="pages__item _active">
                    <a class="pages__link" href="#">{{ i }}</a>
                </li>
            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                <li class="pages__item">
                    <a class="pages__link" href="?{{ q }}{{ category }}page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if page_obj.has_next %}
        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
            <li class="pages__item">
                    <a href="?{{ q }}{{ category }}page={{ page_obj.next_page_number|add:'2' }}" class="pages__link">
                <span>• • •</span>
                </a>
            </li>
        {% endif %}
        {% if page_obj.number|add:'2' < page_obj.paginator.num_pages %}
            <li class="pages__item">
                    <a class="pages__link" href="?{{ q }}{{ category }}page={{ page_obj.paginator.num_pages }}">
                        {{ page_obj.paginator.num_pages }}
                    </a>
            </li>
        {% endif %}
    {% endif %}
</ul>