{% load static news_tag dialogs_tag %}
<section class="section-sidebar">
    <div class="sidebar__container">
        <div class="sidebar__row">

            <!-- Sidebar шапка -->
            <div class="sidebar__header">
                <button class="sidebar__close sidebar-icon">
                    <span></span>
                </button>
                <div class="sidebar__logo logo">
                    <a href="/" class="logo__link">
                        <img class="logo__img" src="{% static 'img/header-logo3.png' %}" alt="logo">
                    </a>
                </div>
            </div>

            <!-- Sidebar поиск -->
            <form action="{% url 'search' %}" method="get" class="sidebar__form-search form-search">
                <div class="form-search__input-box">
                    <input class="form-search__input" type="text" placeholder="Найти..." name="q" required="">
                    <span class="form-search__input-icon"></span>
                </div>
                <button type="submit" class="form-search__btn btn">
                    Найти
                </button>
            </form>

            <!-- Sidebar action -->
            <div class="sidebar__action actions">
                <ul class="actions__list">
                    <li class="actions__item">
                        <a class="actions__link" href="{% url 'view_profile' %}">
                            <svg class="actions__icon" viewbox="-42 0 512 512.002">
                                <path d="m210.351562 246.632812c33.882813 0 63.222657-12.152343 87.195313-36.128906 23.972656-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.132812 87.195312 23.976563 23.96875 53.3125 36.125 87.1875 36.125zm0 0"/>
                                <path d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.308594-10.339844-7.808594-20.550781-13.371094-30.335938-5.773438-10.15625-12.554688-19-20.164063-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.039063 5.339844-10.972656 0-22.085937-1.796876-33.046874-5.339844-11.210938-3.621094-20.296876-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.75-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.605469 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.058594 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.796875-1.023438 19.964844-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.441406 23.734375 65.066406 23.734375h246.53125c26.625 0 48.511719-7.984375 65.0625-23.734375 16.757813-15.945312 25.253906-37.585937 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm0 0"/>
                            </svg>
                            Профиль
                        </a>
                    </li>
                    <li class="actions__item">
                        <a class="actions__link" href="{% url 'dialogs_list' %}">
                            <svg class="actions__icon" enable-background="new 0 0 24 24" height="24px" id="Layer_1" version="1.1" viewbox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="M5.1,22.1c-0.5,0-0.9-0.1-1.4-0.2c-0.3-0.1-0.6-0.3-0.8-0.5l-0.1-0.1c-0.1-0.1-0.2-0.3-0.2-0.4c0-0.2,0.1-0.3,0.3-0.4   c0.8-0.4,1.5-1.1,1.9-1.9C4.9,18.5,5,18.4,5,18.3c-2.8-1.7-4.5-4.4-4.5-7.3c0-5,5.2-9.2,11.5-9.2S23.5,6,23.5,11   c0,5-5.2,9.2-11.5,9.2c-0.6,0-1.3,0-1.9-0.1C8.6,21.4,6.8,22.1,5.1,22.1z"/>
                            </svg>
                            {% if user.is_authenticated %}
                                {% get_all_new_messages user as new_messages %}
                                Сообщения
                                {% if new_messages > 0 %}
                                    <span class="actions__message-counter"> {{ new_messages }} </span>
                                {% endif %}
                            {% else %}
                                Сообщения
                            {% endif %}
                        </a>
                    </li>
                    <li class="actions__item">
                        <a class="actions__link" href="{% url 'favorites' %}" id="id-bookmark">
                            <svg class="actions__icon actions__icon_bookmark" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <path d="M839.4,10c9.9,0,19.4,1.9,28.5,5.8c14.2,5.6,25.6,14.5,34,26.6c8.4,12.1,12.6,25.5,12.6,40.2v834.9c0,14.7-4.2,28.1-12.6,40.2c-8.4,12.1-19.8,20.9-34,26.6c-8.2,3.5-17.7,5.2-28.5,5.2c-20.7,0-38.6-6.9-53.8-20.7L500,694L214.4,968.6c-15.5,14.2-33.5,21.4-53.8,21.4c-9.9,0-19.4-1.9-28.5-5.8c-14.2-5.6-25.6-14.5-34-26.6c-8.4-12.1-12.6-25.5-12.6-40.2V82.5c0-14.7,4.2-28.1,12.6-40.2c8.4-12.1,19.8-20.9,34-26.6c9.1-3.9,18.6-5.8,28.5-5.8H839.4L839.4,10z"/>
                            </svg>
                            Закладки
                        </a>
                    </li>
                    <li class="actions__item">
                        <a class="actions__link" href="#" onclick="openCategories()">
                            <svg class="actions__icon actions__icon_category" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <path d="M45.8,123.3C46.2,62.2,96,12.9,157,13.2s110.3,50.2,110,111.3c-0.3,61.2-50.1,110.5-111.2,110.1c-60.6-0.3-109.7-49.4-110-110.1V123.3z"/><path d="M45.8,497.7C46.2,436.5,96,387.2,157,387.5s110.3,50.2,110,111.3C266.7,560,216.9,609.3,155.8,609c-60.6-0.3-109.7-49.4-110-110.1V497.7z"/><path d="M45.8,876.7C46.2,815.5,96,766.2,157,766.6c61.1,0.3,110.3,50.2,110,111.3C266.7,939,216.9,988.4,155.8,988c-60.6-0.3-109.7-49.4-110-110.1V876.7z"/><path d="M881.9,236.6H420.5c-39.8,0-72.3-32.5-72.3-72.3V82.3c0-39.8,32.5-72.3,72.3-72.3h461.4c39.8,0,72.3,32.5,72.3,72.3v82.1C954.2,204.1,921.6,236.6,881.9,236.6z"/><path d="M880.7,611H419.3c-39.8,0-72.3-32.5-72.3-72.3v-82.1c0-39.8,32.5-72.3,72.3-72.3h461.4c39.8,0,72.3,32.5,72.3,72.3v82.1C953,578.5,920.4,611,880.7,611z"/><path d="M880.7,990H419.3c-39.8,0-72.3-32.5-72.3-72.3v-82.1c0-39.8,32.5-72.3,72.3-72.3h461.4c39.8,0,72.3,32.5,72.3,72.3v82.1C953,957.5,920.4,990,880.7,990z"/>
                            </svg>
                            Категории
                        </a>
                    </li>
                    <div class="filter-box_hidden" id="categories">
                        <form action="{% url 'filter_category' %}" method="get" class="sidebar__form-filter form-filter">
                            <ul class="form-filter__list">
                                {% get_categories as categories %}
                                {% for category in categories %}
                                    <li class="form-filter__item">
                                        <input class="form-filter__checkbox" type="checkbox" checked name="category" value="{{ category.id }}">
                                        {{ category.name }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <button type="submit" class="btn-border form-filter__btn">
                                Найти
                            </button>
                        </form>
                    </div>
                </ul>

            </div>
        </div>
    </div>
</section>