<form id="signup_form" method="post" action="{% url 'account_signup' %}" class="popup__form">
    {% csrf_token %}

    <input type="text"
          name="username"
          placeholder="Имя пользователя"
          autofocus="autofocus"
          minlength="4"
          maxlength="150"
          required=""
          id="id_username"
          class="popup__input">

    <input type="email"
          name="email"
          placeholder="E-mail адрес"
          id="id_email"
          class="popup__input">

    <input type="password"
          name="password1"
          placeholder="Пароль"
          required="" id="id_password1"
          aria-autocomplete="list"
          class="popup__input">

    <input type="password"
          name="password2"
          placeholder="Пароль (еще раз)"
          required=""
          id="id_password2"
          class="popup__input">

    <button class="btn popup__sign_up" type="submit">
        Регистрация
    </button>

</form>