{% load i18n %}
{% load account socialaccount %}

<form method="POST" action="{% url 'account_login' %}" class="popup__form" >
    {% csrf_token %}

    <input type="text"
           name="login"
           placeholder="Имя пользователя"
           autofocus="autofocus"
           maxlength="150"
           required=""
           id="id_login"
           class="popup__input">

    <input class="popup__input"
           type="password"
           name="password"
           placeholder="Пароль"
           required=""
           id="id_password">

    <div class="popup__checkbox">
        <label for="id_remember">Запомнить меня:</label>
        <input class="popup-checkbox" type="checkbox" name="remember" id="id_remember">
        <a class="popup__link" href="{% url 'account_reset_password' %}">
            {% trans "Forgot Password?" %}
        </a>
    </div>

    <button class="btn popup__sign_in" type="submit">
        {% trans "Sign In" %}
    </button>

    <a href="#sign_up"
       class="btn-border popup__sign_up popup-link"
       data-toggle="modal"
       data-target="#signupModal"
       data-dismiss="modal">
        {% trans "Sign Up" %}
    </a>

    <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
    </div>
</form>