{% load i18n %}
<form method="post" action="{% url 'account_logout' %}" class="popup__form">
  {% csrf_token %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}

  <button class="btn popup__sign_in" type="submit">
    {% trans 'Sign Out' %}
  </button>
</form>