{% extends "account/base.html" %}
{% block title %} Confirm E-mail {% endblock title %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">
                <div class="account__info">
                    <h1 class="account__header title">
                        {% trans "Confirm E-mail Address" %}
                    </h1>

                    {% if confirmation %}

                    {% user_display confirmation.email_address.user as user_display %}

                    <p class="account__description">
                        {% blocktrans with confirmation.email_address.email as email %}
                            Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.
                        {% endblocktrans %}
                    </p>

                    <form class="account__form form-account" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <button class="btn account__btn" type="submit">
                            {% trans 'Confirm' %}
                        </button>
                    </form>

                    {% else %}

                    {% url 'account_email' as email_url %}

                    <p class="account__description">
                        {% blocktrans %}
                            This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.
                        {% endblocktrans %}
                    </p>

                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
