{% extends "account/base.html" %}
{% block title %} Login {% endblock title %}

{% block main_content %}
{% load i18n %}
{% load account socialaccount %}

  <section class="account">
    <div class="account__container">
      <div class="account__row">

        <div class="account__banner banner">
          <span class="banner__img"></span>
        </div>

        <div class="account__info">
          <h1 class="account__header title">
            {% trans "Sign In" %}
          </h1>

          <form class="account__form form-account" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="account__block">
              <label class="account-checkbox-label" for="id_remember">Запомнить меня:</label>
              <input class="account-checkbox" type="checkbox" name="remember" id="id_remember">
              <a class="account__link" href="{% url 'account_reset_password' %}">
                  {% trans "Forgot Password?" %}
              </a>
            </div>
            <button class="btn account__btn" type="submit">
                {% trans "Sign In" %}
            </button>
          </form>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <a class="btn-border account__btn-signup" href="{{ signup_url }}">
            Зарегистрироваться
          </a>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% endif %}

        </div>

      </div>
    </div>
  </section>

{% endblock main_content %}
