{% extends "account/base.html" %}
{% load i18n %}
{% block title %} Logout {% endblock title %}
{% block main_content %}

  <section class="account">
    <div class="account__container">
      <div class="account__row">
        <div class="account__banner banner">
          <span class="banner__img"></span>
        </div>


        <div class="account__info">
          <h1 class="account__header title">
            {% trans "Sign Out" %}
          </h1>

          <p class="account__description">
            {% trans 'Are you sure you want to sign out?' %}
          </p>

          <form class="account__form form-account" method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class="account__btn btn" type="submit">{% trans 'Sign Out' %}</button>
          </form>
        </div>

      </div>
    </div>
  </section>

{% endblock main_content %}