{% extends "account/base.html" %}
{% block title %} Set Password {% endblock title %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">
                <div class="account__info">
                    <h1 class="account__header title">
                        {% trans "Set Password" %}
                    </h1>

                    <form class="account__form form-account" method="POST" action="{% url 'account_set_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn account__btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
