{% extends "account/base.html" %}
{% block title %} Password Reset {% endblock title %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">

                <div class="account__banner banner">
                    <span class="banner__img"></span>
                </div>

                <div class="account__info">
                    <h1 class="account__header title">
                        {% trans "Password Reset" %}
                    </h1>

                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p class="account__description">
                        {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                    </p>

                    <form class="account__form form-account" method="POST" action="{% url 'account_reset_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn account__btn" type="submit" value="{% trans 'Reset My Password' %}" />
                    </form>

                    <p class="account__description">
                        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
