{% extends "account/base.html" %}
{% block title %} Change Password {% endblock title %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">
                <div class="account__banner banner">
                    <span class="banner__img"></span>
                </div>
                <div class="account__info">
                    <h1 class="account__header title">
                        {% trans "Change Password" %}
                    </h1>

                    <form class="account__form form-account" method="POST" action="{% url 'account_change_password' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn account__btn" type="submit" name="action">
                            {% trans "Change Password" %}
                        </button>
                        <a class="account__link" href="{% url 'account_reset_password' %}">
                            {% trans "Forgot Password?" %}
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
