{% extends "account/base.html" %}
{% block title %} Change Password {% endblock title %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">
                <div class="account__info">
                    <h1 class="account__header title">
                        {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                    </h1>

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p class="account__description">
                            {% blocktrans %}
                                The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
                            {% endblocktrans %}
                        </p>
                    {% else %}
                        {% if form %}
                            <form class="account__form form-account" method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input class="btn account__btn" type="submit" name="action" value="{% trans 'change password' %}"/>
                            </form>
                        {% else %}
                            <p class="account__description">
                                {% trans 'Your password is now changed.' %}
                            </p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
