{% extends "account/base.html" %}
{% block title %} Password Reset Done {% endblock title %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">
                <div class="account__info">
                    <h1 class="account__header title">
                        {% trans "Password Reset" %}
                    </h1>

                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p class="account__description">
                        {% blocktrans %}
                            We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
