{% extends "account/base.html" %}
{% block title %} Change Password Done {% endblock title %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">
                <div class="account__info">
                    <h1 class="account__header title">
                        {% trans "Change Password" %}
                    </h1>
                    <p class="account__description">
                        {% trans 'Your password is now changed.' %}
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
