{% extends "account/base.html" %}
{% load i18n %}
{% block title %} Singup {% endblock title %}
{% block main_content %}

  <section class="account">
    <div class="account__container">
      <div class="account__row">

        <div class="account__banner banner">
          <span class="banner__img"></span>
        </div>

        <div class="account__info">
          <h1 class="account__header title">
            {% trans "Sign Up" %}
          </h1>

          <form class="account__form form-account" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn account__btn" type="submit">
              {% trans "Sign Up" %}
            </button>
          </form>
        </div>

      </div>
    </div>
  </section>


{% endblock main_content %}