{% extends "account/base.html" %}
{% block title %} Verify E-mail {% endblock title %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">
                <div class="account__info">
                    <h1 class="account__header title">
                        {% trans "Verify Your E-mail Address" %}
                    </h1>

                    <p class="account__description">
                        {% blocktrans %}
                            Мы отправили вам электронное письмо для проверки. Перейдите по предоставленной ссылке, чтобы завершить процесс регистрации. Пожалуйста, свяжитесь с нами, если вы не получите его в течение нескольких минут.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
