{% extends "account/base.html" %}
{% block title %} Verify E-mail {% endblock title %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">
                <div class="account__info">
                    <h1 class="account__header title">
                        {% trans "Verify Your E-mail Address" %}
                    </h1>

                    {% url 'account_email' as email_url %}

                    <p class="account__description">
                        {% blocktrans %}
                            Эта часть сайта требует от нас подтверждения того, что вы тот, кем вы себя называете. Для этого мы требуем, чтобы вы подтвердите право собственности на свой адрес электронной почты.
                        {% endblocktrans %}
                    </p>

                    <p class="account__description">
                        {% blocktrans %}
                            Мы отправили вам электронное письмо для проверка. Пожалуйста, нажмите на ссылку в этом электронном письме. Пожалуйста свяжитесь с нами, если вы не получите его в течение нескольких минут.
                        {% endblocktrans %}
                    </p>

                    <p class="account__description">
                        {% blocktrans %}
                            <strong>Note:</strong> you can still <a href="{{ email_url }}">change your e-mail address</a>.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content%}
