{% extends "socialaccount/base.html" %}
{% block title %} Social Network Login Failure {% endblock title %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block main_content %}

<section class="account">
    <div class="account__container">
        <div class="account__row">

            <div class="account__banner banner">
                <span class="banner__img"></span>
            </div>

            <div class="account__info">
                <h1 class="account__header title">
                    {% trans "Social Network Login Failure" %}
                </h1>

                <p class="account__description">
                    {% trans "An error occurred while attempting to login via your social network account." %}
                </p>

            </div>
        </div>
    </div>
</section>

{% endblock main_content %}
