{% extends "socialaccount/base.html" %}
{% block title %} Login Cancelled {% endblock title %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">

                <div class="account__banner banner">
                    <span class="banner__img"></span>
                </div>

                <div class="account__info">
                    <h1 class="account__header title">
                        {% trans "Login Cancelled" %}
                    </h1>

                    {% url 'account_login' as login_url %}

                    <p class="account__description">
                        {% blocktrans %}
                            You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
