{% extends "socialaccount/base.html" %}
{% block title %} Signup {% endblock title %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block main_content %}

    <section class="account">
        <div class="account__container">
            <div class="account__row">

                <div class="account__banner banner">
                    <span class="banner__img"></span>
                </div>

                <div class="account__info">
                    <h1 class="account__header title">
                        {% trans "Sign Up" %}
                    </h1>

                    <p class="account__description">
                        {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
                            Вы собираетесь использовать свой  {{provider_name}} аккаунт для входа в {{site_name}}. В качестве последнего шага, пожалуйста, заполните следующую форму:
                        {% endblocktrans %}
                    </p>

                    <form class="account__form form-account" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn account__btn" type="submit">{% trans "Sign Up" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}
