@charset "UTF-8";
.error, .page, .account, .footer, .add__row, .dialogs__row, .comments__list .comments__item, .profile-edit, .follow__more, .follow .follow__box .follow__body, .profile-nav, .profile .profile__header, .news__item, .sidebar__row, .header {
  width: 100%;
  height: auto;
  border-radius: 25px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.ckeditor, .socialaccount_ballot .socialaccount_providers li .socialaccount_provider, .account__row .account__banner.banner .banner__img, .profile-edit__row .profile-edit__banner.banner .banner__img, .news-actions__btn .news-actions__icon, .form-search .form-search__input-box .form-search__input-icon {
  height: 100%;
  width: 100%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.form-account p input, .contact-us .contact-us__form .contact-us__field .contact-us__input, .popup .popup__body .popup__content .popup__form .popup__input, .form-edit-profile .form-edit-profile__input, .form-news .form-news__item .form-news__input, .form-search .form-search__input-box .form-search__input {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.form-account p input::-webkit-input-placeholder, .contact-us .contact-us__form .contact-us__field .contact-us__input::-webkit-input-placeholder, .popup .popup__body .popup__content .popup__form .popup__input::-webkit-input-placeholder, .form-edit-profile .form-edit-profile__input::-webkit-input-placeholder, .form-news .form-news__item .form-news__input::-webkit-input-placeholder, .form-search .form-search__input-box .form-search__input::-webkit-input-placeholder {
  font-size: 16px;
  padding: 0 15px;
}
.form-account p input::-moz-placeholder, .contact-us .contact-us__form .contact-us__field .contact-us__input::-moz-placeholder, .popup .popup__body .popup__content .popup__form .popup__input::-moz-placeholder, .form-edit-profile .form-edit-profile__input::-moz-placeholder, .form-news .form-news__item .form-news__input::-moz-placeholder, .form-search .form-search__input-box .form-search__input::-moz-placeholder {
  font-size: 16px;
  padding: 0 15px;
}
.form-account p input:-ms-input-placeholder, .contact-us .contact-us__form .contact-us__field .contact-us__input:-ms-input-placeholder, .popup .popup__body .popup__content .popup__form .popup__input:-ms-input-placeholder, .form-edit-profile .form-edit-profile__input:-ms-input-placeholder, .form-news .form-news__item .form-news__input:-ms-input-placeholder, .form-search .form-search__input-box .form-search__input:-ms-input-placeholder {
  font-size: 16px;
  padding: 0 15px;
}
.form-account p input::-ms-input-placeholder, .contact-us .contact-us__form .contact-us__field .contact-us__input::-ms-input-placeholder, .popup .popup__body .popup__content .popup__form .popup__input::-ms-input-placeholder, .form-edit-profile .form-edit-profile__input::-ms-input-placeholder, .form-news .form-news__item .form-news__input::-ms-input-placeholder, .form-search .form-search__input-box .form-search__input::-ms-input-placeholder {
  font-size: 16px;
  padding: 0 15px;
}
.form-account p input::placeholder, .contact-us .contact-us__form .contact-us__field .contact-us__input::placeholder, .popup .popup__body .popup__content .popup__form .popup__input::placeholder, .form-edit-profile .form-edit-profile__input::placeholder, .form-news .form-news__item .form-news__input::placeholder, .form-search .form-search__input-box .form-search__input::placeholder {
  font-size: 16px;
  padding: 0 15px;
}

.profile-edit .profile-edit__close {
  position: absolute;
  right: 15px;
  top: 15px;
}
.profile-edit .profile-edit__close .close__icon {
  width: 30px;
  height: 30px;
  display: block;
  fill: #4b4bff;
  -webkit-transition: border, padding, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: border, padding, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.profile-edit .profile-edit__close .close__icon:hover, .profile-edit .profile-edit__close .close__icon:focus {
  padding: 5px;
  border-radius: 50%;
  background-color: #4b4bff;
  fill: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.profile-edit .profile-edit__close .close__icon:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Light"), local("Roboto-Light"), url("../") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #d9d9d9;
  font-family: "Roboto", sans-serif;
}

body.lock {
  overflow: hidden;
}
@media (max-width: 768px) {
  body {
    position: relative;
  }
  body._active::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #4b4bff;
    opacity: 0.9;
    z-index: 2;
    -webkit-transition: all 1s cubic-bezier(0.92, 0.33, 0.49, 0.88);
    transition: all 1s cubic-bezier(0.92, 0.33, 0.49, 0.88);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 576px) {
  .container {
    padding: 0;
  }
}

.hide_all {
  display: none;
}

.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #4b4bff;
}
.title._black {
  color: black;
}
.title._white {
  color: white;
}
.title._big {
  font-size: 36px;
  line-height: 40px;
}
@media (max-width: 576px) {
  .title {
    font-size: 18px;
    line-height: 22px;
  }
}

.btn {
  height: 40px;
  border: 4px solid white;
  border-radius: 10px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #4b4bff;
  fill: white;
  cursor: pointer;
  -webkit-transition: padding, border, color, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: padding, border, color, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  border: none;
}
.btn:hover, .btn:focus {
  border: 4px solid #4b4bff;
  padding: 0 10px;
  color: #4b4bff;
  background-color: white;
  fill: #4b4bff;
}
.btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}

.btn-inverse {
  height: 40px;
  border: 4px solid #4b4bff;
  border-radius: 10px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #4b4bff;
  background-color: white;
  fill: #4b4bff;
  cursor: pointer;
  -webkit-transition: padding, border, color, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: padding, border, color, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  border: none;
}
.btn-inverse:hover, .btn-inverse:focus {
  border: 4px solid white;
  padding: 0 10px;
  color: white;
  background-color: #4b4bff;
  fill: white;
}
.btn-inverse:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}

.btn-border {
  height: 40px;
  border: 4px solid #4b4bff;
  border-radius: 10px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: #4b4bff;
  background-color: white;
  fill: #4b4bff;
  cursor: pointer;
  -webkit-transition: padding, border, color, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: padding, border, color, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.btn-border:hover, .btn-border:focus {
  border: 4px solid white;
  padding: 0 10px;
  color: white;
  background-color: #4b4bff;
  fill: white;
}
.btn-border:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}
.btn-border:hover, .btn-border:focus {
  border: none;
}

.header {
  border-radius: 0;
}
@media (max-width: 768px) {
  .header {
    position: fixed;
    z-index: 1;
  }
}

.header__row {
  height: 60px;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__sidebar-icon {
  display: none;
}
@media (max-width: 768px) {
  .header__sidebar-icon {
    width: 40px;
    height: 30px;
    margin-right: 25px;
    border: none;
    display: block;
    background-color: transparent;
  }
}
@media (max-width: 576px) {
  .header__sidebar-icon {
    margin-right: 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 768px) {
  .sidebar-icon {
    display: block;
    position: relative;
    cursor: pointer;
  }
  .sidebar-icon span, .sidebar-icon::before, .sidebar-icon::after {
    left: 0;
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #4b4bff;
  }
  .sidebar-icon::before {
    content: "";
    top: 0;
  }
  .sidebar-icon::after {
    content: "";
    bottom: 0;
  }
  .sidebar-icon span {
    top: 50%;
    -webkit-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    -webkit-transition: all 500ms ease-out 200ms;
    transition: all 500ms ease-out 200ms;
  }
}
.header__logo {
  height: 40px;
  width: 40px;
}
@media (max-width: 576px) {
  .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.logo .logo__link {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.logo .logo__img {
  height: 100%;
  width: 100%;
}

.header__btn-add-post {
  margin-left: 25px;
}
@media (max-width: 576px) {
  .header__btn-add-post {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.btn-add-post {
  height: 40px;
  width: 150px;
}
@media (max-width: 576px) {
  .btn-add-post .btn-add-post__text {
    display: none;
  }
}
.btn-add-post .btn-add-post__icon {
  height: 20px;
  width: 20px;
  display: none;
}
@media (max-width: 576px) {
  .btn-add-post .btn-add-post__icon {
    display: block;
  }
}
@media (max-width: 576px) {
  .btn-add-post {
    width: 40px;
    margin-left: 0;
    padding: 0;
  }
  .btn-add-post:hover, .btn-add-post:focus {
    padding: 0;
  }
}

.header__right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__right .header__avatar {
  height: 40px;
  width: 40px;
  border: 4px solid #4b4bff;
}
@media (max-width: 576px) {
  .header__right .header__avatar {
    display: none;
  }
}
.header__right .header__account-btn {
  height: 40px;
  width: 110px;
  margin-left: 25px;
}
@media (max-width: 576px) {
  .header__right .header__account-btn {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .header__right {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 auto;
  }
}

.avatar {
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: -webkit-transform 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: transform 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: transform 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88), -webkit-transform 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.avatar:hover, .avatar:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.avatar:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 0.7;
}
.avatar .avatar__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.account-btn .account-btn__icon {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.main {
  width: 100%;
  margin-top: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 768px) {
  .main {
    margin-top: 85px;
  }
}
@media (max-width: 576px) {
  .main {
    margin-top: 75px;
  }
}

@media (max-width: 992px) {
  .main__container {
    width: auto;
  }
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1200px) {
  .main__row {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}
@media (max-width: 992px) {
  .main__row {
    margin: 0 -15px;
  }
}
@media (max-width: 768px) {
  .main__row {
    margin: 0;
    position: relative;
  }
}

.section-sidebar {
  max-width: 250px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: sticky;
  top: 25px;
}
@media (max-width: 992px) {
  .section-sidebar {
    max-width: 280px;
    width: 100%;
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .section-sidebar {
    height: 100%;
    max-width: 300px;
    margin-top: -25px;
    padding: 0;
    position: fixed;
    left: -150%;
    z-index: 2;
    -webkit-transition: left 0.5s cubic-bezier(0.92, 0.33, 0.49, 0.88);
    transition: left 0.5s cubic-bezier(0.92, 0.33, 0.49, 0.88);
  }
  .section-sidebar._active {
    left: 0;
    -webkit-transition: left 0.5s cubic-bezier(0.92, 0.33, 0.49, 0.88);
    transition: left 0.5s cubic-bezier(0.92, 0.33, 0.49, 0.88);
  }
}

@media (max-width: 768px) {
  .sidebar__container {
    height: 100%;
  }
}

.sidebar__row {
  padding: 30px 15px;
}
@media (max-width: 768px) {
  .sidebar__row {
    height: 100%;
    border-radius: 0;
    overflow: auto;
    padding: 30px;
  }
}

.sidebar__header {
  display: none;
}
@media (max-width: 768px) {
  .sidebar__header {
    height: 60px;
    width: 100%;
    margin-top: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar__header .sidebar__close {
    width: 40px;
    height: 30px;
    margin-right: 25px;
    border: none;
    background-color: transparent;
  }
  .sidebar__header .sidebar__logo {
    width: 40px;
    height: 40px;
  }
}

.sidebar__form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .sidebar__form-search {
    margin-top: 15px;
  }
}

.form-search .form-search__input-box {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.form-search .form-search__input-box .form-search__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 4px solid #4b4bff;
  padding: 0 10px;
  padding-right: 35px;
}
.form-search .form-search__input-box .form-search__input-icon {
  background-image: url("../img/search.svg");
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
}
.form-search .form-search__btn {
  margin-left: 10px;
  width: 60px;
}

.actions {
  margin-top: 25px;
}
.actions .actions__list .actions__item {
  height: 40px;
}
.actions .actions__list .actions__item:nth-child(1) {
  display: none;
}
@media (max-width: 768px) {
  .actions .actions__list .actions__item:nth-child(1) {
    display: block;
  }
}
.actions .actions__list .actions__item .actions__link {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #4b4bff;
  fill: #4b4bff;
  -webkit-transition: border, color, fill 100ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: border, color, fill 100ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.actions .actions__list .actions__item .actions__link:hover, .actions .actions__list .actions__item .actions__link:focus {
  border-radius: 10px;
  fill: white;
  color: white;
  background-color: #4b4bff;
}
.actions .actions__list .actions__item .actions__link:hover .actions__message-counter, .actions .actions__list .actions__item .actions__link:focus .actions__message-counter {
  color: #4b4bff;
  background-color: white;
}
.actions .actions__list .actions__item .actions__link:active {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.actions .actions__list .actions__item .actions__link .actions__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}
.actions .actions__list .actions__item .actions__link .actions__icon.actions__icon_category {
  padding: 1px;
}
.actions .actions__list .actions__item .actions__link .actions__icon.actions__icon_bookmark {
  padding-top: 1px;
}
.actions .actions__list .actions__item .actions__link .actions__message-counter {
  height: 25px;
  min-width: 25px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #4b4bff;
  -webkit-transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
@media (max-width: 768px) {
  .actions .actions__list .actions__item .actions__link .actions__message-counter {
    height: 30px;
    min-width: 30px;
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .actions .actions__list .actions__item .actions__link {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .actions {
    margin-top: 15px;
  }
}

.sidebar__form-filter {
  position: relative;
}

.filter-box_hidden {
  position: absolute;
  visibility: none;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.form-filter__box {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}

.form-filter .form-filter__list {
  margin-top: 15px;
  margin-left: 10px;
}
.form-filter .form-filter__list .form-filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.form-filter .form-filter__list .form-filter__item:not(:first-child) {
  margin-top: 10px;
}
.form-filter .form-filter__list .form-filter__item .form-filter__checkbox {
  margin-right: 10px;
}
.form-filter .form-filter__btn {
  width: 100%;
  margin-top: 10px;
}

.section-content {
  max-width: 650px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 0;
}
@media (max-width: 1200px) {
  .section-content {
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .section-content {
    width: 100%;
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .section-content {
    padding: 0;
  }
}

.news {
  width: 100%;
}
.news .news__nav-filter {
  margin-bottom: 25px;
}
@media (max-width: 576px) {
  .news .news__nav-filter {
    margin-bottom: 15px;
  }
}

.nav-filter .nav-filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
}
.nav-filter .nav-filter__list .nav-filter__item {
  height: 40px;
  padding: 0 10px;
  fill: #4b4bff;
  -webkit-transition: border, color 100ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: border, color 100ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.nav-filter .nav-filter__list .nav-filter__item:hover, .nav-filter .nav-filter__list .nav-filter__item:focus {
  border-radius: 10px;
  fill: white;
  color: white;
  background-color: #4b4bff;
}
.nav-filter .nav-filter__list .nav-filter__item:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}
.nav-filter .nav-filter__list .nav-filter__item .nav-filter__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .nav-filter .nav-filter__list .nav-filter__item .nav-filter__link .nav-filter__text {
    display: none;
  }
}
.nav-filter .nav-filter__list .nav-filter__item .nav-filter__link .nav-filter__icon {
  display: none;
  height: 25px;
  width: 25px;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .nav-filter .nav-filter__list .nav-filter__item .nav-filter__link .nav-filter__icon {
    display: block;
  }
}
@media (max-width: 576px) {
  .nav-filter .nav-filter__list .nav-filter__item {
    width: 80px;
    border: 4px solid #4b4bff;
    border-radius: 10px;
    color: #4b4bff;
    background-color: white;
  }
}

.news {
  width: 100%;
  height: auto;
}
.news .news__list {
  width: 100%;
  height: auto;
}

.news__item {
  overflow: hidden;
}
.news__item:not(:first-child) {
  margin-top: 25px;
}
.news__item .news__img-link {
  width: 100%;
  height: 300px;
  display: block;
}
.news__item .news__img-link .news__img-container {
  display: block;
  width: 100%;
  height: 100%;
}
.news__item .news__img-link .news__img-container .news__img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 576px) {
  .news__item .news__img-link {
    height: 200px;
  }
}
.news__item .news__news-info {
  padding: 25px;
}
@media (max-width: 576px) {
  .news__item .news__news-info {
    padding: 15px;
  }
}
@media (max-width: 576px) {
  .news__item {
    border-radius: 0;
  }
  .news__item:not(:first-child) {
    margin-top: 10px;
  }
}

.news__info .news-info__title {
  display: inline-block;
  font-weight: 600;
  -webkit-transition: padding, border, fill, color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: padding, border, fill, color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.news__info .news-info__title:hover, .news__info .news-info__title:focus {
  color: #4b4bff;
}
.news__info .news-info__title:active {
  opacity: 0.7;
}
.news__info .news-info__title .news-info__link {
  height: 100%;
  width: 100%;
  display: block;
}
.news__info .news-info__description {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: black;
}
.news__info .news-info__author {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  color: #4b4bff;
}
.news__info .news__action {
  width: 100%;
  height: auto;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__info p iframe {
  width: 100%;
}

.news__info p img {
  width: 100%;
}

.news-actions .news-actions__edit-news-btn {
  width: 180px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 576px) {
  .news-actions .news-actions__edit-news-btn {
    width: 40px;
    padding: 0;
  }
  .news-actions .news-actions__edit-news-btn span {
    display: none;
  }
  .news-actions .news-actions__edit-news-btn .edit-news-btn__icon {
    margin: 0;
  }
}
.news-actions .news-actions__list {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-left: auto;
}
.news-actions .news-actions__list .news-actions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.news-actions .news-actions__list .news-actions__item:not(:first-child) {
  margin-left: 10px;
}

.news-actions__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: #8f8e8e;
}
.news-actions__btn._active {
  fill: #4b4bff;
}
.news-actions__btn .news-actions__icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
.news-actions__btn .news-actions__icon._views {
  background-image: url("../img/view.svg");
  width: 21px;
  fill: #8f8e8e;
}
.news-actions__btn .news-actions__icon._comments {
  background-image: url("../img/comments.svg");
  height: 19px;
}
.news-actions__btn .news-actions__icon._like {
  height: 22px;
  width: 22px;
}
.news-actions__btn .news-actions__icon._favorite {
  height: 17px;
  width: 17px;
}

.edit-news-btn .edit-news-btn__icon {
  height: 16px;
  width: 16px;
  margin-left: 10px;
}

.add-news,
.edit-news {
  width: 100%;
}
.add-news .add-news__form-news,
.add-news .edit-news__form-news,
.edit-news .add-news__form-news,
.edit-news .edit-news__form-news {
  width: 100%;
}

.form-news .form-news__item {
  height: auto;
  color: #4b4bff;
}
.form-news .form-news__item:nth-child(n+3) {
  margin-top: 15px;
}
.form-news .form-news__item:nth-child(4) {
  position: relative;
}
.form-news .form-news__item .form-news__heading {
  width: 100%;
  display: block;
  padding-left: 15px;
  margin-bottom: 10px;
}
.form-news .form-news__item .form-news__description {
  width: 100%;
  height: auto;
  display: block;
}
.form-news .form-news__item .form-news__description .django-ckeditor-widget {
  width: 100%;
  height: auto;
}
.form-news .form-news__item .form-news__select {
  background-color: transparent;
}
.form-news .form-news__item .form-news__image-upload {
  height: auto;
  width: 100%;
}
.form-news .form-news__submit {
  width: 140px;
  margin-top: 15px;
}
.form-news .form-news__submit._left {
  margin-left: auto;
}

.select {
  position: relative;
  width: 100%;
}
.select .select__button {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background: white;
  border: 4px solid #4b4bff;
  border-radius: 10px;
  height: 40px;
  padding: 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4b4bff;
  cursor: pointer;
}
.select .select__button:focus, .select .select__button._active {
  outline: none;
  -webkit-box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
          box-shadow: 0px 0px 0px 4px rgba(176, 198, 225, 0.6);
}
.select .select__button._active::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.select .select__button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* Рисуем треугольник */
  width: 0;
  height: 0;
  border-width: 10.4px 6px 0 6px;
  border-color: #4b4bff transparent transparent transparent;
  border-style: solid;
  /* Снимаем клик с треугольника */
  pointer-events: none;
}
.select .select__list {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: white;
  -webkit-box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
          box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
  overflow: hidden;
  border: 4px solid #4b4bff;
  border-radius: 10px;
  width: 100%;
  z-index: 1;
}
.select .select__list._visible {
  display: block;
}
.select .select__list .select__item {
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid #4b4bff;
  border-bottom: 0px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.select .select__list .select__item:first-child {
  border-radius: 6px 6px 0 0;
}
.select .select__list .select__item:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: 1px solid #4b4bff;
}
.select .select__list .select__item:hover {
  background: rgba(176, 198, 225, 0.26);
}
.select .select__select {
  display: none;
}

.image-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.image-upload .image-upload__file-name {
  height: 40px;
  width: 100%;
  border: 4px solid #4b4bff;
  border-radius: 10px;
  padding-left: 135px;
  padding-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
  background-color: white;
}
.image-upload .image-upload__file-name._right {
  padding-left: 15px;
  padding-right: 135px;
}
.image-upload .image-upload__btn {
  position: absolute;
  width: 130px;
  bottom: 0;
  left: 0;
}
.image-upload .image-upload__btn._right {
  right: 0;
  left: auto;
}
.image-upload .image-upload__btn:active {
  -webkit-transform: none;
          transform: none;
  opacity: 0.6;
}
.image-upload .image-upload__btn .image-upload__btn-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  display: block;
}

.form-news__hide {
  visibility: hidden;
  position: absolute;
  left: -100%;
  top: 0;
}

.form-news__error {
  margin-bottom: 10px;
}
.form-news__error .errorlist li {
  position: relative;
  padding-right: 30px;
}
.form-news__error .errorlist li::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/news/invalid.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.profile .profile__header {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.profile .profile__profile-nav {
  margin-top: 25px;
}
@media (max-width: 576px) {
  .profile .profile__profile-nav {
    margin-top: 15px;
  }
}
.profile .profile__body {
  width: 100%;
  display: inline-block;
  margin-top: 25px;
}
.profile .profile__body .profile__news,
.profile .profile__body .profile__comments,
.profile .profile__body .profile__follow,
.profile .profile__body .profile__favorites {
  width: 100%;
  height: auto;
}
.profile .profile__body .profile__comments {
  margin-top: 0;
}
.profile .profile__body .profile__comments .comments__list {
  margin-top: 0;
}
.profile .profile__body .profile__follow {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 576px) {
  .profile .profile__body .profile__follow {
    display: block;
  }
  .profile .profile__body .profile__follow .follow__box:nth-child(2) {
    margin-top: 15px;
  }
}
@media (max-width: 576px) {
  .profile .profile__body {
    margin-top: 15px;
  }
}

.profile__info .profile__container-avatar {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 25px;
  overflow: hidden;
}
.profile__info .profile__container-avatar .profile__avatar {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile__info .profile__heading {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile__info .profile__heading .profile__title {
  font-weight: 700;
}
.profile__info .profile__heading .profile__like-counter {
  height: 20px;
  min-width: 45px;
  margin-left: 10px;
  padding: 10px;
  font-size: 10px;
}
.profile__info .profile__date {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #8f8e8e;
}

.like-counter {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  color: white;
  background-color: #4b4bff;
  fill: white;
}
.like-counter .like-counter__icon {
  height: 12px;
  width: 12px;
  margin-right: 5px;
  display: block;
}

.profile__action {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profile__action .profile__edit-profile-btn {
  width: 150px;
}
@media (max-width: 992px) {
  .profile__action .profile__edit-profile-btn {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .profile__action .profile__edit-profile-btn {
    padding: 0;
  }
  .profile__action .profile__edit-profile-btn .edit-profile-btn__text {
    display: none;
  }
  .profile__action .profile__edit-profile-btn .edit-profile-btn__icon {
    margin: 0;
  }
}
.profile__action .profile__message-profile-btn {
  width: 100px;
  margin-right: 15px;
}
@media (max-width: 992px) {
  .profile__action .profile__message-profile-btn {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }
}
@media (max-width: 576px) {
  .profile__action .profile__message-profile-btn {
    padding: 0;
  }
  .profile__action .profile__message-profile-btn .message-profile-btn__text {
    display: none;
  }
  .profile__action .profile__message-profile-btn .message-profile-btn__icon {
    margin: 0;
  }
}
.profile__action .profile__follow-profile-btn {
  width: 150px;
}
@media (max-width: 992px) {
  .profile__action .profile__follow-profile-btn {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .profile__action .profile__follow-profile-btn {
    padding: 0;
  }
  .profile__action .profile__follow-profile-btn .follow-profile-btn__text {
    display: none;
  }
  .profile__action .profile__follow-profile-btn .follow-profile-btn__icon {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .profile__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150px;
  }
}
@media (max-width: 576px) {
  .profile__action {
    width: 40px;
  }
}

.edit-profile-btn .edit-profile-btn__icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  display: block;
}

.follow-profile-btn._big {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media (max-width: 992px) {
  .follow-profile-btn._big {
    width: 150px;
  }
}
@media (max-width: 576px) {
  .follow-profile-btn._big {
    width: 40px;
    padding: 0;
  }
  .follow-profile-btn._big .follow-profile-btn__text {
    display: none;
  }
  .follow-profile-btn._big .follow-profile-btn__icon {
    margin: 0;
  }
}
.follow-profile-btn.hide_all {
  display: none;
}
.follow-profile-btn .follow-profile-btn__icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  display: block;
}

.message-profile-btn .message-profile-btn__icon {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

.profile-nav {
  padding: 15px;
}

.profile-nav__slider {
  position: relative;
}
@media (max-width: 992px) {
  .profile-nav__slider {
    padding: 0 50px;
  }
}
.profile-nav__slider .slick-arrow {
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
  position: absolute;
  font-size: 0;
}
.profile-nav__slider .slick-arrow.slick-prev {
  top: 50%;
  left: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: center/contain no-repeat url("../img/profile/left-arrow.svg");
}
.profile-nav__slider .slick-arrow.slick-next {
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: center/contain no-repeat url("../img/profile/right-arrow.svg");
}
.profile-nav__slider .slick-arrow.slick-disabled {
  opacity: 0.5;
}
.profile-nav__slider .slick-list {
  overflow: hidden;
  width: 100%;
}
.profile-nav__slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile-nav__slider .slick-list .slick-track .profile-nav__item {
  margin: 0 5px;
  font-size: 20px;
  font-weight: 600;
  color: #4b4bff;
}
.profile-nav__slider .slick-list .slick-track .profile-nav__item._active {
  border-radius: 10px;
  color: white;
  background-color: #4b4bff;
}
.profile-nav__slider .slick-list .slick-track .profile-nav__item:hover, .profile-nav__slider .slick-list .slick-track .profile-nav__item:focus {
  border-radius: 10px;
  color: white;
  background-color: #4b4bff;
}
.profile-nav__slider .slick-list .slick-track .profile-nav__item:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}
.profile-nav__slider .slick-list .slick-track .profile-nav__item .profile-nav__link {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.follow .follow__box {
  width: 100%;
  padding: 0 10px;
}
.follow .follow__box .follow__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}
.follow .follow__box .follow__body .follow__btn-more {
  width: 100%;
  margin-top: 15px;
}

.follow__list {
  width: 100%;
  margin-top: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.follow__list .follow__item {
  height: 40px;
  border: 4px solid #4b4bff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #4b4bff;
  background-color: white;
  position: relative;
  -webkit-transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.follow__list .follow__item:hover, .follow__list .follow__item:focus {
  color: white;
  background-color: #4b4bff;
}
.follow__list .follow__item:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}
.follow__list .follow__item:not(:first-child) {
  margin-top: 10px;
}
.follow__list .follow__item._big {
  height: 60px;
  border-radius: 25px;
  font-size: 20px;
}
.follow__list .follow__item._big:not(:first-child) {
  margin-top: 15px;
}
.follow__list .follow__item .follow__link {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.follow__list .follow__item .follow__link._big {
  padding: 0 15px;
}
.follow__list .follow__item .follow__link .follow__avatar {
  height: 24px;
  width: 24px;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
.follow__list .follow__item .follow__link .follow__avatar._big {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
.follow__list .follow__item .follow__link .follow__avatar .follow__avatar-icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.follow__more {
  padding: 30px;
}

.profile-edit {
  padding: 30px;
  position: relative;
}
.profile-edit .profile-edit__container {
  width: auto;
}
.profile-edit__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.profile-edit__row .profile-edit__banner {
  width: 30%;
  padding: 0 15px;
}
.profile-edit__row .profile-edit__banner.banner .banner__img {
  background-image: url("../img/config.png");
}
.profile-edit__row .profile-edit__info {
  width: 70%;
  padding: 0 15px;
}
.profile-edit__row .profile-edit__info .profile-edit__messages {
  width: 100%;
  height: auto;
  padding-right: 50px;
  margin-bottom: 15px;
}
.profile-edit__row .profile-edit__info .profile-edit__messages:not(:first-child) {
  margin-top: 10px;
}

.form-edit-profile .form-edit-profile__heading {
  display: block;
  margin-bottom: 10px;
  padding-left: 10px;
}
.form-edit-profile .form-edit-profile__input {
  margin-bottom: 25px;
  border: 4px solid #4b4bff;
}
.form-edit-profile .form-edit-profile__avatar-upload {
  height: auto;
  width: 100%;
}
.form-edit-profile .form-edit-profile__hide {
  visibility: hidden;
  position: absolute;
  left: -100%;
  top: 0;
}
.form-edit-profile .form-edit-profile__submit {
  width: 110px;
  margin-top: 20px;
}

.btn_alert {
  height: 30px;
  width: 100%;
  font-size: 15px;
  padding: 5px;
  -webkit-transition: padding, border, color, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: padding, border, color, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.btn_alert:hover, .btn_alert:focus {
  border: 1px solid #4b4bff;
  padding: 5px;
  font-weight: 600;
}
.btn_alert:active {
  -webkit-transform: none;
          transform: none;
  opacity: 0.6;
}

.form-edit-profile__error {
  margin-bottom: 10px;
}
.form-edit-profile__error .errorlist li {
  position: relative;
  padding-right: 30px;
}
.form-edit-profile__error .errorlist li::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../img/news/invalid.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.comments {
  margin-top: 25px;
}

.comments__form-comment {
  width: 100%;
  height: auto;
}

.form-comment .form-comment__textarea {
  width: 100%;
  height: 65px;
  max-height: 150px;
  margin-top: 25px;
  border-radius: 20px;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
  resize: none;
}
.form-comment .form-comment__textarea::-webkit-input-placeholder {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.form-comment .form-comment__textarea::-moz-placeholder {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.form-comment .form-comment__textarea:-ms-input-placeholder {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.form-comment .form-comment__textarea::-ms-input-placeholder {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.form-comment .form-comment__textarea::placeholder {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.form-comment .form-comment__btn {
  margin-top: 15px;
  margin-left: auto;
  width: 150px;
}

.comments__list {
  margin-top: 25px;
}
.comments__list .comments__item {
  padding: 25px;
}
.comments__list .comments__item:not(:first-child) {
  margin-top: 15px;
}

.comment .comment__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment .comment__info .comment__avatar {
  height: 35px;
  width: 35px;
  border: 5px solid #4b4bff;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.comment .comment__info .comment__user-info {
  margin-left: 20px;
}
.comment .comment__info .comment__user-info .comment__username {
  font-size: 16px;
  font-weight: 500;
  color: #4b4bff;
}
.comment .comment__info .comment__user-info .comment__datetime {
  font-size: 12px;
  font-weight: 400;
  color: #8f8e8e;
}
.comment .comment__text {
  margin: 15px;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.comment .comments__action {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.comment .comments__action .comment__action-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.reply-form {
  display: none;
}

.comment__child {
  margin-left: 25px;
}

.dialogs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 576px) {
  .dialogs__row {
    height: 500px;
    border-radius: 0;
    position: relative;
  }
}

.dialogs__list {
  width: 30%;
  height: auto;
  padding: 15px;
  border-right: 4px solid #4b4bff;
}
.dialogs__list .dialogs__chats-btn {
  display: none;
}
.dialogs__list .dialogs__item {
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #4b4bff;
}
.dialogs__list .dialogs__item:hover, .dialogs__list .dialogs__item:focus {
  border-radius: 10px;
  color: white;
  background-color: #4b4bff;
}
.dialogs__list .dialogs__item:hover .dialogs__link .dialogs__count, .dialogs__list .dialogs__item:focus .dialogs__link .dialogs__count {
  color: #4b4bff;
  background-color: white;
}
.dialogs__list .dialogs__item:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}
.dialogs__list .dialogs__item:not(:first-child) {
  margin-top: 10px;
}
.dialogs__list .dialogs__item .dialogs__link {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dialogs__list .dialogs__item .dialogs__link .dialogs__count {
  height: 25px;
  min-width: 25px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #4b4bff;
}
@media (max-width: 992px) {
  .dialogs__list {
    width: 35%;
  }
}
@media (max-width: 576px) {
  .dialogs__list {
    width: 80%;
    height: 100%;
    display: block;
    position: absolute;
    left: -80%;
    -webkit-transition: left 0.5s cubic-bezier(0.92, 0.33, 0.49, 0.88);
    transition: left 0.5s cubic-bezier(0.92, 0.33, 0.49, 0.88);
    background-color: white;
  }
  .dialogs__list .dialogs__chats-btn {
    width: 110px;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    position: absolute;
    top: 55px;
    left: calc(100% + 20px);
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  .dialogs__list._active {
    left: 0;
    -webkit-transition: left 0.5s cubic-bezier(0.92, 0.33, 0.49, 0.88);
    transition: left 0.5s cubic-bezier(0.92, 0.33, 0.49, 0.88);
  }
}

.chats-btn {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.chats-btn .chats-btn__icon {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.messages {
  width: 70%;
  height: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 992px) {
  .messages {
    width: 65%;
  }
}
@media (max-width: 576px) {
  .messages {
    width: 100%;
    height: 100%;
    margin-left: 40px;
  }
}

.message__list {
  padding: 15px;
  overflow: auto;
}
.message__list .message__item {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.message__list .message__item .message__heading {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.message__list .message__item .message__heading .message__author {
  font-size: 16px;
  font-weight: 500;
  color: #4b4bff;
}
.message__list .message__item .message__heading .message__author .message__author-link {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.message__list .message__item .message__heading .message__date {
  font-size: 12px;
  font-weight: 400;
  color: #8f8e8e;
}
.message__list .message__item .message__text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.message__form {
  width: 100%;
  margin-top: auto;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.message__form .message__textarea {
  height: 40px;
}
.message__form .message__textarea .django-ckeditor-widget textarea {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
  resize: none;
}
.message__form .message__textarea .django-ckeditor-widget textarea::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.message__form .message__textarea .django-ckeditor-widget textarea::-moz-placeholder {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.message__form .message__textarea .django-ckeditor-widget textarea:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.message__form .message__textarea .django-ckeditor-widget textarea::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.message__form .message__textarea .django-ckeditor-widget textarea::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.message__form .message__submit-message-btn {
  margin-left: 10px;
}

.submit-message-btn {
  width: 50px;
  margin-bottom: 1px;
}
.submit-message-btn .submit-message-btn__icon {
  height: 20px;
  width: 20px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  z-index: 2;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__body .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}
.popup .popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}
.popup .popup__body .popup__content {
  background-color: white;
  max-width: 800px;
  border-radius: 25px;
  padding: 30px;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup .popup__body .popup__content.succes-feedback {
  max-width: 600px;
}
.popup .popup__body .popup__content .popup__title {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #4b4bff;
}
.popup .popup__body .popup__content .popup__description {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.popup .popup__body .popup__content .popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.popup .popup__body .popup__content .popup__close .popup__close-icon {
  display: block;
  width: 30px;
  height: 30px;
  fill: #4b4bff;
  -webkit-transition: border, padding, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: border, padding, fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.popup .popup__body .popup__content .popup__close .popup__close-icon:hover, .popup .popup__body .popup__content .popup__close .popup__close-icon:focus {
  border-radius: 20px;
  padding: 5px;
  background-color: #4b4bff;
  fill: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.popup .popup__body .popup__content .popup__close .popup__close-icon:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.popup .popup__body .popup__content .popup__form {
  max-width: 300px;
}
.popup .popup__body .popup__content .popup__form .popup__input {
  margin-top: 20px;
}
.popup .popup__body .popup__content .popup__form .popup__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #8f8e8e;
}
.popup .popup__body .popup__content .popup__form .popup__checkbox .popup-checkbox {
  margin-left: 5px;
  margin-right: 10px;
}
.popup .popup__body .popup__content .popup__form .popup__checkbox label {
  text-align: center;
}
.popup .popup__body .popup__content .popup__form .popup__sign_in {
  width: 100%;
  margin-top: 20px;
}
.popup .popup__body .popup__content .popup__form .popup__sign_up {
  margin-top: 20px;
}
.popup .popup__body .popup__content .popup__img {
  width: 250px;
  height: 250px;
  margin: 20px auto 0 auto;
  display: block;
}

.popup___area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__link {
  display: block;
  margin-left: auto;
  font-size: 15px;
  font-weight: 500;
  color: #4b4bff;
  -webkit-transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  text-align: center;
}
.popup__link:hover, .popup__link:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.popup__link:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #8080ff;
}

.section-add {
  max-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 1200px) {
  .section-add {
    display: none;
  }
}

.add__row {
  padding: 30px 15px;
}

.add__list .add__item {
  width: 100%;
}
.add__list .add__item:not(:first-child) {
  margin-top: 30px;
}
.add__list .add__item .add__img {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.add__list .add__item .add__link {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #4b4bff;
}

.footer {
  margin-top: 25px;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #4b4bff;
}
@media (max-width: 576px) {
  .footer {
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .footer__container {
    width: auto;
  }
}

.footer__row {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 15px;
}
.footer__row .footer__info {
  max-width: 270px;
}
.footer__row .footer__info .footer__logo {
  display: block;
  height: 100px;
  width: 100px;
}
@media (max-width: 576px) {
  .footer__row .footer__info .footer__logo {
    margin: 0 auto;
  }
}
.footer__row .footer__info .footer__nav {
  margin-top: 15px;
}
@media (max-width: 992px) {
  .footer__row .footer__info {
    width: 100%;
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .footer__row .footer__info {
    max-width: 200px;
  }
}
@media (max-width: 576px) {
  .footer__row .footer__info {
    max-width: 100%;
    margin-top: 25px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.footer__row .footer__contact-us {
  max-width: 400px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 992px) {
  .footer__row .footer__contact-us {
    width: 100%;
    padding: 0 15px;
  }
}
@media (max-width: 576px) {
  .footer__row .footer__contact-us {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 25px auto 0 auto;
    padding: 0 15px;
  }
}
.footer__row .footer__social {
  width: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 992px) {
  .footer__row .footer__social {
    width: 80px;
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .footer__row .footer__social {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 50px;
  }
  .footer__row .footer__social .social__list {
    height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__row .footer__social .social__list .social__item {
    height: 100%;
    width: 50px;
  }
  .footer__row .footer__social .social__list .social__item:not(:first-child) {
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .footer__row .footer__social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: static;
    padding: 0 15px;
  }
}
@media (max-width: 992px) {
  .footer__row {
    margin: 30px -15px;
  }
}
@media (max-width: 768px) {
  .footer__row {
    position: relative;
    padding-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 0px;
    padding-bottom: 0;
  }
}

.nav .nav__list .nav__item {
  width: 100%;
  height: auto;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: white;
  -webkit-transition: color, border 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: color, border 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.nav .nav__list .nav__item:hover, .nav .nav__list .nav__item:focus {
  background-color: white;
  color: #4b4bff;
}
.nav .nav__list .nav__item:active {
  opacity: 0.7;
}
.nav .nav__list .nav__item .nav__link {
  min-height: 30px;
  max-height: 60px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .nav .nav__list .nav__item .nav__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.contact-us .contact-us__form {
  width: 100%;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-us .contact-us__form .contact-us__field {
  margin-top: 10px;
  position: relative;
}
.contact-us .contact-us__form .contact-us__field .contact-us__input.is-invalid {
  border: 3px solid red;
  color: red;
}
.contact-us .contact-us__form .contact-us__field .contact-us__textarea {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  padding: 10px 15px 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
  resize: none;
}
.contact-us .contact-us__form .contact-us__field .contact-us__textarea::-webkit-input-placeholder {
  padding: 10px 15px 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.contact-us .contact-us__form .contact-us__field .contact-us__textarea::-moz-placeholder {
  padding: 10px 15px 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.contact-us .contact-us__form .contact-us__field .contact-us__textarea:-ms-input-placeholder {
  padding: 10px 15px 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.contact-us .contact-us__form .contact-us__field .contact-us__textarea::-ms-input-placeholder {
  padding: 10px 15px 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.contact-us .contact-us__form .contact-us__field .contact-us__textarea::placeholder {
  padding: 10px 15px 0 15px;
  font-size: 16px;
  font-weight: 400;
  color: #4b4bff;
}
.contact-us .contact-us__form .contact-us__field .contact-us__textarea.is-invalid {
  border: 3px solid red;
  color: red;
}
.contact-us .contact-us__form .contact-us__field span {
  width: 20px;
  height: 20px;
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
.contact-us .contact-us__form .contact-us__field span.is-invalid {
  display: block;
  background-image: url("../img/footer/invalid.svg");
}
.contact-us .contact-us__form .contact-us__field span.is-valid {
  display: block;
  background-image: url("../img/footer/valid.svg");
}
.contact-us .contact-us__form .contact-us__field .contact-us__invalid-feedback {
  margin-top: 10px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.contact-us .contact-us__form .contact-us__actions {
  width: 100%;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-us .contact-us__form .contact-us__actions .contact-us__submit-btn {
  width: 110px;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contact-us .contact-us__form .contact-us__actions .contact-us__permission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.contact-us .contact-us__form .contact-us__actions .contact-us__permission .contact-us__permission-link {
  margin-left: 5px;
  padding: 2px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  -webkit-transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.contact-us .contact-us__form .contact-us__actions .contact-us__permission .contact-us__permission-link:hover, .contact-us .contact-us__form .contact-us__actions .contact-us__permission .contact-us__permission-link:focus {
  border-radius: 5px;
  color: #4b4bff;
  background-color: white;
}
.contact-us .contact-us__form .contact-us__actions .contact-us__permission .contact-us__permission-link:active {
  opacity: 0.7;
}

.social .social__list {
  width: 100%;
}
.social .social__list .social__item {
  height: auto;
  margin: 0 auto;
  fill: white;
  -webkit-transition: fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: fill 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.social .social__list .social__item:not(:first-child) {
  margin-top: 10px;
}
.social .social__list .social__item:hover, .social .social__list .social__item:focus {
  border-radius: 10px;
  fill: #4b4bff;
  background-color: white;
}
.social .social__list .social__item:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}
.social .social__list .social__item .social__link {
  display: block;
  height: 100%;
  width: 100%;
}
.social .social__list .social__item .social__link .social__icon {
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.social .social__list .social__item .social__link .social__icon._twitter {
  padding: 11px;
}
.social .social__list .social__item .social__link .social__icon._vk {
  padding: 8px;
}
.social .social__list .social__item .social__link .social__icon._facebook {
  padding: 12px;
}

.pages {
  width: 100%;
  height: auto;
  margin-top: 25px;
  padding: 0 20px;
}
.pages .pages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pages .pages__list .pages__item {
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #4b4bff;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  -webkit-transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  position: relative;
}
.pages .pages__list .pages__item:not(:first-child) {
  margin-left: 10px;
}
.pages .pages__list .pages__item:hover, .pages .pages__list .pages__item:focus {
  color: white;
  background-color: #4b4bff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.pages .pages__list .pages__item:active {
  color: white;
  background-color: #4b4bff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.pages .pages__list .pages__item._active {
  color: white;
  background-color: #4b4bff;
}
.pages .pages__list .pages__item .pages__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.account {
  padding: 40px;
  overflow: hidden;
}
.account .account__container {
  width: auto;
}
@media (max-width: 576px) {
  .account {
    padding: 20px;
  }
}

.account__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.account__row .account__banner {
  width: 45%;
  margin: -40px 0 -40px -40px;
  padding: 0 15px;
}
.account__row .account__banner.banner .banner__img {
  background-image: url("../img/reg.jpg");
  background-size: cover;
}
@media (max-width: 576px) {
  .account__row .account__banner {
    display: none;
  }
}
.account__row .account__info {
  width: 55%;
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.account__row .account__info .account__header {
  margin: 0;
  font-size: 36px;
}
.account__row .account__info .account__description {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.account__row .account__info .account__form {
  width: 100%;
}
.account__row .account__info .account__btn-signup {
  width: 100%;
  margin-top: 10px;
}

.form-account p label {
  display: none;
}
.form-account p input {
  margin-top: 15px;
}
.form-account p input[type=checkbox] {
  display: none;
}
.form-account .account__btn {
  margin-top: 15px;
  width: 100%;
}
.form-account .account__block {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form-account .account__block .account-checkbox-label {
  font-size: 15px;
  font-weight: 400;
  color: #8f8e8e;
}
.form-account .account__block .account-checkbox {
  margin-left: 5px;
}
.form-account .account__block .account__link {
  display: block;
  margin-left: auto;
  font-size: 15px;
  font-weight: 500;
  color: #4b4bff;
  -webkit-transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: color 300ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.form-account .account__block .account__link:hover, .form-account .account__block .account__link:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.form-account .account__block .account__link:active {
  -webkit-transform: scale(1);
          transform: scale(1);
  color: #8080ff;
}

.socialaccount_ballot {
  width: 100%;
  height: auto;
  margin-top: 15px;
}
.socialaccount_ballot .socialaccount_providers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.socialaccount_ballot .socialaccount_providers li {
  width: 50px;
  height: 50px;
}
.socialaccount_ballot .socialaccount_providers li .socialaccount_provider {
  width: 100%;
  height: 100%;
  font-size: 0;
  -webkit-transition: -webkit-transform 100ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: -webkit-transform 100ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: transform 100ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
  transition: transform 100ms cubic-bezier(0.92, 0.33, 0.49, 0.88), -webkit-transform 100ms cubic-bezier(0.92, 0.33, 0.49, 0.88);
}
.socialaccount_ballot .socialaccount_providers li .socialaccount_provider.google {
  background-image: url("../img/account/gmail.svg");
  background-size: 47px;
}
.socialaccount_ballot .socialaccount_providers li .socialaccount_provider.vk {
  background-image: url("../img/account/vk.svg");
}
.socialaccount_ballot .socialaccount_providers li .socialaccount_provider.yandex {
  background-image: url("../img/account/yandex.svg");
  background-size: 38px;
}
.socialaccount_ballot .socialaccount_providers li .socialaccount_provider.facebook {
  background-image: url("../img/account/facebook.svg");
  background-size: 34px;
}
.socialaccount_ballot .socialaccount_providers li .socialaccount_provider:hover, .socialaccount_ballot .socialaccount_providers li .socialaccount_provider:focus {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.errorlist {
  margin-top: 15px;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #4b4bff;
}

.ckeditor p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: black;
  word-break: break-all;
}
.ckeditor p iframe, .ckeditor p img {
  width: 100%;
}
.ckeditor blockquote {
  margin-top: 10px;
  margin-left: 40px;
  border-left: 5px solid #8f8e8e;
  padding-left: 20px;
}
.ckeditor blockquote p {
  font-size: 18px;
  font-weight: 400;
  color: black;
  word-break: break-all;
}

.page {
  padding: 25px;
}
.page .page__title {
  display: inline-block;
  font-weight: 600;
  margin: 0;
}
.page .page__descriptions {
  margin-top: 10px;
}

.error {
  padding: 50px 25px;
}
.error .error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  font-size: 70px;
  font-weight: 800;
  color: #4b4bff;
}
.error .error__title .error__icon {
  width: 85px;
  height: 85px;
  margin-right: 20px;
  fill: #4b4bff;
}
.error .error__description {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.error .error__img {
  height: 250px;
  width: 250px;
  margin: 40px auto 0 auto;
  display: block;
  fill: #4b4bff;
}
@media (max-width: 992px) {
  .error .error__title {
    font-size: 50px;
  }
  .error .error__title .error__icon {
    width: 60px;
    height: 60px;
  }
  .error .error__description {
    font-size: 18px;
  }
  .error .error__img {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 768px) {
  .error .error__description {
    font-size: 20px;
  }
  .error .error__img {
    height: 150px;
    width: 150px;
  }
}
@media (max-width: 576px) {
  .error {
    border-radius: 0;
    padding: 25px;
  }
  .error .error__title {
    font-size: 30px;
  }
  .error .error__title .error__icon {
    width: 35px;
    height: 35px;
  }
  .error .error__description {
    margin-top: 10px;
    font-size: 16px;
  }
  .error .error__img {
    margin-top: 15px;
    height: 130px;
    width: 130px;
  }
}