{% extends 'base.html' %}
{% block title %} {% endblock title %}
{% block content %}

{% include 'include/sidebar.html' %}

<section class="section-content">
    <div class="content__container">
        <div class="content__row">
            {% block main_content %}

            {% endblock main_content %}
        </div>
    </div>
</section>
{% include 'include/add.html' %}

{% endblock content %}