{% extends 'news/base.html' %}
{% block title %} News {% endblock title %}
{% block main_content %}
{% load static news_tag %}
    <section class="news">
        
        <!-- Фильтр новостей -->
        <nav class="news__nav-filter nav-filter">
            <ul class="nav-filter__list">
                <li class="nav-filter__item title">
                    <a class="nav-filter__link" href="/">

                        <div class="nav-filter__text">
                            Новое
                        </div>

                        <svg class="nav-filter__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                            <path d="M497.052,301.696l-19.097-39.063c-2.06-4.214-2.06-9.049,0-13.263l19.096-39.065
                                c10.632-21.751,2.208-47.676-19.178-59.024l-38.409-20.378c-4.144-2.199-6.986-6.11-7.796-10.729l-7.512-42.828
                                c-4.183-23.847-26.243-39.865-50.208-36.479l-43.053,6.09c-4.644,0.661-9.241-0.837-12.613-4.099l-31.251-30.231
                                c-17.401-16.836-44.661-16.835-62.06-0.001l-31.252,30.232c-3.372,3.261-7.968,4.756-12.613,4.099l-43.053-6.09
                                c-23.964-3.383-46.025,12.633-50.208,36.479l-7.512,42.828c-0.81,4.62-3.652,8.531-7.795,10.729l-38.41,20.38
                                c-21.387,11.346-29.811,37.272-19.178,59.024l19.096,39.063c2.06,4.214,2.06,9.049,0,13.263l-19.096,39.065
                                c-10.632,21.751-2.208,47.676,19.178,59.024l38.409,20.378c4.144,2.199,6.986,6.11,7.796,10.729l7.512,42.829
                                c4.183,23.847,26.242,39.861,50.208,36.479l43.053-6.09c4.647-0.658,9.242,0.838,12.613,4.099l31.251,30.231
                                c8.702,8.419,19.864,12.627,31.03,12.626c11.164-0.001,22.332-4.209,31.03-12.625l31.252-30.232
                                c3.372-3.261,7.966-4.756,12.613-4.099l43.053,6.09c2.152,0.304,4.285,0.452,6.395,0.452c21.389-0.002,40.006-15.226,43.814-36.93
                                l7.512-42.828c0.81-4.62,3.652-8.531,7.795-10.729l38.41-20.38C499.261,349.374,507.685,323.448,497.052,301.696z M201.86,315.06
                                c0,6.848-4.708,12.796-11.373,14.37c-1.132,0.267-2.271,0.396-3.396,0.397c-5.495,0-10.661-3.08-13.203-8.164L142.8,259.486
                                v55.575c0,8.154-6.611,14.765-14.765,14.765c-8.154,0-14.765-6.611-14.765-14.765V196.94c0-6.848,4.708-12.796,11.373-14.37
                                c6.663-1.575,13.537,1.643,16.599,7.767l31.088,62.178V196.94c0-8.154,6.611-14.765,14.765-14.765
                                c8.154,0,14.765,6.611,14.765,14.765V315.06z M275.685,241.235c8.154,0,14.765,6.611,14.765,14.765s-6.611,14.765-14.765,14.765
                                h-34.452v29.53h44.295c8.154,0,14.765,6.611,14.765,14.765s-6.611,14.765-14.765,14.765h-59.06
                                c-8.154,0-14.765-6.611-14.765-14.765V196.94c0-8.154,6.611-14.765,14.765-14.765h59.06c8.154,0,14.765,6.611,14.765,14.765
                                s-6.611,14.765-14.765,14.765h-44.295v29.53H275.685z M398.727,315.06c0,6.848-4.708,12.796-11.373,14.37
                                c-1.132,0.267-2.271,0.396-3.396,0.397c-5.495,0-10.661-3.08-13.203-8.164l-16.323-32.647l-16.323,32.647
                                c-3.062,6.127-9.932,9.341-16.599,7.767c-6.665-1.574-11.373-7.522-11.373-14.37V196.94c0-8.154,6.611-14.765,14.765-14.765
                                c8.154,0,14.765,6.611,14.765,14.765v55.575l1.558-3.117c2.501-5.002,7.614-8.162,13.207-8.162s10.705,3.16,13.207,8.162
                                l1.558,3.117V196.94c0-8.154,6.611-14.765,14.765-14.765c8.154,0,14.765,6.611,14.765,14.765V315.06z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-filter__item title">
                    <a class="nav-filter__link" href="{% url 'filter' 'populate' %}" name="populate">

                        <div class="nav-filter__text">
                            Популярное
                        </div>

                        <svg class="nav-filter__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 412.735 412.735" style="enable-background:new 0 0 412.735 412.735;" xml:space="preserve">
                            <path d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273
                                c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636
                                c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-filter__item title">
                    <a class="nav-filter__link" href="{% url 'filter' 'hot' %}" name="hot">

                        <div class="nav-filter__text">
                            Горячее
                        </div>

                        <svg class="nav-filter__icon" height="512pt" viewBox="0 -25 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
                            <path d="m208.648438 183.660156c-6.191407 2.109375-12.816407 3.269532-19.710938 3.269532-6.898438 0-13.523438-1.160157-19.714844-3.269532-13.753906 7.152344-23.171875 21.527344-23.171875 38.070313 0 .757812.019531 1.515625.058594 2.269531h85.652344c.042969-.753906.058593-1.511719.058593-2.269531 0-16.542969-9.417968-30.917969-23.171874-38.070313zm0 0"/>
                            <path d="m220.296875 125.570312c0-17.292968-14.070313-31.359374-31.359375-31.359374-17.292969 0-31.363281 14.066406-31.363281 31.359374 0 17.289063 14.070312 31.359376 31.363281 31.359376 17.289062 0 31.359375-14.070313 31.359375-31.359376zm0 0"/>
                            <path d="m377.542969 178.964844c.210937-3.285156.328125-6.585938.328125-9.90625 0-45.503906-19.886719-88.179688-56-120.164063-35.597656-31.53125-82.808594-48.894531-132.933594-48.894531-50.128906 0-97.339844 17.363281-132.9375 48.894531-36.113281 31.984375-56 74.660157-56 120.164063 0 42.699218 17.59375 83.035156 49.695312 114.292968v60.574219l61.824219-20.609375c24.378907 9.824219 50.394531 14.796875 77.417969 14.796875 4.570312 0 9.113281-.144531 13.628906-.433593 11.09375 67.230468 75.867188 118.988281 153.875 118.988281 21.84375 0 42.890625-3.957031 62.648438-11.773438l52.75 17.582031v-51.734374c25.953125-25.683594 40.160156-58.664063 40.160156-93.570313 0-70.5-58.628906-128.945313-134.457031-138.207031zm-78.09375 145.984375 19.769531-22.566407 25.878906 22.671876 53.003906-53.902344 21.390626 21.03125-72.859376 74.097656zm-171.875-199.378907c0-33.835937 27.527343-61.359374 61.363281-61.359374 33.832031 0 61.359375 27.523437 61.359375 61.359374 0 15.289063-5.636719 29.277344-14.917969 40.03125 12.65625 10.492188 21.714844 25.171876 25.035156 41.894532-17.707031 12.496094-32.324218 28.359375-42.644531 46.503906h-95.132812l-3.285157-10.527344c-2.191406-7.023437-3.304687-14.335937-3.304687-21.742187 0-22.554688 10.300781-42.746094 26.445313-56.128907-9.28125-10.753906-14.917969-24.746093-14.917969-40.03125zm0 0"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Список новостей -->
        <ul class="news__list">

            {% for news in news_list %}
                <li class="news__item">
                    <a class="news__link"></a>

                    {% if news.image %}
                        <a class="news__img-link" href="/{{ news.pk }}">

                            {% get_webp_img news.pk as webp_img %}
                            <picture class="news__img-container">
                                {% if webp_img %}
                                    <source srcset="{% static webp_img.webp_x2 %} 2x, {% static webp_img.webp_x1 %} 1x" type="image/webp">
                                {% endif %}
                                <img src="{{ news.image.url }}" alt="image" class="news__img">
                            </picture>
                        </a>
                    {% endif %}

                    <div class="news__news-info news__info">
                        <h2 class="news-info__title title _black">
                            <a class="news-info__link" href="/{{ news.pk }}">
                                {{ news.title }}
                            </a>
                        </h2>

                        <!-- News actions -->
                        <div class="news__action news-actions">
                            <ul class="news-actions__list">
                                <li class="news-actions__item">
                                    <a class="news-actions__btn" href="#">
                                        <span class="news-actions__icon _views"></span>
                                    </a>
                                    {{ news.views }}
                                </li>
                                <li class="news-actions__item">
                                    <a class="news-actions__btn" href="/{{ news.pk }}">
                                        <span class="news-actions__icon _comments"></span>
                                    </a>
                                    {{ news.get_comment.count }}
                                </li>
    
                                {% if user.is_authenticated %}
                                    <li class="news-actions__item">
                                        <button class="news-actions__btn {% if user in  news.user_like.all %} _active {% endif %}" aria-hidden="true" onclick="like({{ news.pk }}, 'news')" id="like_btn{{ news.pk }}">
                                            <svg class="news-actions__icon _like" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                                                <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                                            </svg>
                                        </button>
                                        <span id="counter__likes{{ news.pk }}">
                                            {{ news.like }}
                                        </span>
                                    </li>
                                    <li class="news-actions__item">
                                        <a class="news-actions__btn {% if user in  news.favourites.all %} _active {% endif %}" aria-hidden="true" onclick="favorite({{ news.pk }})" id="favorite_btn{{ news.pk }}">
                                            <svg class="news-actions__icon _favorite" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                                <path d="M839.4,10c9.9,0,19.4,1.9,28.5,5.8c14.3,5.6,25.6,14.5,34,26.6c8.4,12.1,12.6,25.5,12.6,40.2v834.9c0,14.7-4.2,28.1-12.6,40.2c-8.4,12.1-19.8,20.9-34,26.6c-8.2,3.5-17.7,5.2-28.5,5.2c-20.7,0-38.6-6.9-53.8-20.7L500,694L214.4,968.6c-15.5,14.3-33.5,21.4-53.8,21.4c-9.9,0-19.4-1.9-28.5-5.8c-14.3-5.6-25.6-14.5-34-26.6c-8.4-12.1-12.6-25.5-12.6-40.2V82.5c0-14.7,4.2-28.1,12.6-40.2c8.4-12.1,19.8-20.9,34-26.6c9.1-3.9,18.6-5.8,28.5-5.8H839.4L839.4,10z"/>
                                            </svg>
                                        </a>
                                        <span id="counter__favorite{{ news.pk }}">
                                            {{ news.favourites.count }}
                                        </span>
                                    </li>
                                {% else %}
                                    <li class="news-actions__item">
                                        <a href="#login" class="news-actions__btn popup-link">
                                            <svg class="news-actions__icon _like" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                                                <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                                            </svg>
                                        </a>
                                        {{ news.like }}
                                    </li>
                                    <li class="news-actions__item">
                                        <a href="#login" class="news-actions__btn popup-link">
                                            <svg class="news-actions__icon _favorite" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                                <path d="M839.4,10c9.9,0,19.4,1.9,28.5,5.8c14.3,5.6,25.6,14.5,34,26.6c8.4,12.1,12.6,25.5,12.6,40.2v834.9c0,14.7-4.2,28.1-12.6,40.2c-8.4,12.1-19.8,20.9-34,26.6c-8.2,3.5-17.7,5.2-28.5,5.2c-20.7,0-38.6-6.9-53.8-20.7L500,694L214.4,968.6c-15.5,14.3-33.5,21.4-53.8,21.4c-9.9,0-19.4-1.9-28.5-5.8c-14.3-5.6-25.6-14.5-34-26.6c-8.4-12.1-12.6-25.5-12.6-40.2V82.5c0-14.7,4.2-28.1,12.6-40.2c8.4-12.1,19.8-20.9,34-26.6c9.1-3.9,18.6-5.8,28.5-5.8H839.4L839.4,10z"/>
                                            </svg>
                                        </a>
                                        {{ news.favourites.count }}
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="news__item">
                    <div class="news__news-info">
                        <p class="not_found">
                            Ничего не найдено...
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="pages">
            {% include 'include/pagination.html' %}
        </div>
    </section>
{% endblock main_content %}