{% extends 'news/base.html' %}
{% load static %}
{% block title %} Edit News {% endblock title %}
{% block main_content %}
    <section class="edit-news">
        <form class="edit-news__form-news form-news" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- title -->
            <div class="form-news__item">
                <label class="form-news__heading title" for="id_title">
                    Заголовок статьи
                </label>
                <div class="form-news__error">
                    {{ form.errors.title }}
                </div>
                {{ form.title }}
            </div>

            <!-- discription -->
            <div class="form-news__item">
                <label class="form-news__heading title" for="description_edit">
                    Текст статьи
                </label>
                <div class="form-news__error">
                    {{ form.errors.description }}
                </div>
                <div class="form-news__description" id="description_edit">
                    {{ form.description | safe }}
                    {{ form.media }}
                </div>
            </div>

            <!-- category -->
            <div class="form-news__item">
                <label class="form-news__heading title" for="category_edit">
                    Категория
                </label>
                <div class="form-news__error">
                    {{ form.errors.category }}
                </div>
                <div class="form-news__select select" id="category_edit">
                    <button class="select__button" type="button">Аниме</button>
                    <ul class="select__list">
                        {% for category in categories %}
                            <li class="select__item" data-value="{{ category.pk }}">
                                {{ category.name }}
                            </li>
                        {% endfor %}
                    </ul>
                    {{ form.category }}
                </div>
            </div>

            <!-- cover -->
            <div class="form-news__item">
                <label class="form-news__heading title" for="cover_edit">
                    Обложка
                </label>
                <div class="form-news__error">
                    {{ form.errors.image }}
                </div>
                <div class="form-news__image-upload image-upload" id="cover_edit">
                    <div class="image-upload__file-name" id="file_name"></div>
                    <button class="image-upload__btn btn" type="button" onclick="uploadImage()">
                        <svg class="image-upload__btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 9h-4v4h-2v-4H9V9h4V5h2v4h4v2z"/>
                        </svg>
                        Обложка
                    </button>
                </div>
                <div class="form-news__hide">
                    {{form.image}}
                </div>
            </div>
            <button class="form-news__submit btn _left" type="submit">
                Сохранить
            </button>
        </form>
    </section>
{% endblock main_content %}