{% extends 'news/base.html' %}
{% block title %} News {% endblock title %}
{% block main_content %}
{% load static mptt_tags news_tag %}
    <section class="news">
        <div class="news__item">
            <div class="news__news-info news__info">

                <!-- News title -->
                <h3 class="news-info__title title_black">
                    <a class="news-info__link" href="#">
                        {{ news.title }}
                    </a>
                </h3>

                <!-- News description -->
                <div class="news-info__description ckeditor">
                    {{ news.description | safe }}
                </div>

                <!-- News author -->
                <div class="news-info__author author">
                    {% if user.is_authenticated %}
                        <a href="{% url 'public_info' news.author.profile.pk %}" class="author__link">
                            {{ news.author }}
                        </a>
                    {% else %}
                        <a href="#login" class="news-author-link popup-link">
                            {{ news.author }}
                        </a>
                    {% endif %}
                </div>

                <!-- News actions -->
                <div class="news__action news-actions">

                    <!-- Edit news -->
                    {% if user == news.author %}
                        <a class="news-actions__edit-news-btn edit-news-btn btn" href="{% url 'news_edit' news.pk %}">
                            <span>
                                Редактировать
                            </span>
                            <svg class="edit-news-btn__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <polygon points="51.2,353.28 0,512 158.72,460.8 		"/>
                                <rect x="89.73" y="169.097" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -95.8575 260.3719)" width="353.277" height="153.599"/>
                                <path d="M504.32,79.36L432.64,7.68c-10.24-10.24-25.6-10.24-35.84,0l-23.04,23.04l107.52,107.52l23.04-23.04
                                    C514.56,104.96,514.56,89.6,504.32,79.36z"/>
                            </svg>
                        </a>
                    {% endif %}
                    
                    <ul class="news-actions__list">
                        <li class="news-actions__item">
                            <a class="news-actions__btn" href="#">
                                <span class="news-actions__icon _views"></span>
                            </a>
                            {{ views_counter }}
                        </li>
                        <li class="news-actions__item">
                            <a class="news-actions__btn" href="#comment-section">
                                <span class="news-actions__icon _comments"></span>
                            </a>
                            {{ news.comment_set.count }}
                        </li>

                        {% if user.is_authenticated %}
                            <li class="news-actions__item">
                                <button class="news-actions__btn {% if user in  news.user_like.all %} _active {% endif %}" aria-hidden="true" onclick="like({{ news.pk }}, 'news')" id="like_btn{{ news.pk }}">
                                    <svg class="news-actions__icon _like" focusable="false" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                                        <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                                    </svg>
                                </button>
                                <span id="counter__likes{{ news.pk }}">
                                    {{ news.like }}
                                </span>
                            </li>
                            <li class="news-actions__item">
                                <a class="news-actions__btn {% if user in  news.favourites.all %} _active {% endif %}" aria-hidden="true" onclick="favorite({{ news.pk }})" id="favorite_btn{{ news.pk }}">
                                    <svg class="news-actions__icon _favorite" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                        <path d="M839.4,10c9.9,0,19.4,1.9,28.5,5.8c14.3,5.6,25.6,14.5,34,26.6c8.4,12.1,12.6,25.5,12.6,40.2v834.9c0,14.7-4.2,28.1-12.6,40.2c-8.4,12.1-19.8,20.9-34,26.6c-8.2,3.5-17.7,5.2-28.5,5.2c-20.7,0-38.6-6.9-53.8-20.7L500,694L214.4,968.6c-15.5,14.3-33.5,21.4-53.8,21.4c-9.9,0-19.4-1.9-28.5-5.8c-14.3-5.6-25.6-14.5-34-26.6c-8.4-12.1-12.6-25.5-12.6-40.2V82.5c0-14.7,4.2-28.1,12.6-40.2c8.4-12.1,19.8-20.9,34-26.6c9.1-3.9,18.6-5.8,28.5-5.8H839.4L839.4,10z"/>
                                    </svg>
                                </a>
                                <span id="counter__favorite{{ news.pk }}">
                                    {{ news.favourites.count }}
                                </span>
                            </li>
                        {% else %}
                            <li class="news-actions__item">
                                <a href="#login" class="news-actions__btn popup-link">
                                    <svg class="news-actions__icon _like" focusable="false" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                                        <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                                    </svg>
                                </a>
                                {{ news.like }}
                            </li>
                            <li class="news-actions__item">
                                <a href="#login" class="news-actions__btn popup-link">
                                    <svg class="news-actions__icon _favorite" version="1.1" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                        <path d="M839.4,10c9.9,0,19.4,1.9,28.5,5.8c14.3,5.6,25.6,14.5,34,26.6c8.4,12.1,12.6,25.5,12.6,40.2v834.9c0,14.7-4.2,28.1-12.6,40.2c-8.4,12.1-19.8,20.9-34,26.6c-8.2,3.5-17.7,5.2-28.5,5.2c-20.7,0-38.6-6.9-53.8-20.7L500,694L214.4,968.6c-15.5,14.3-33.5,21.4-53.8,21.4c-9.9,0-19.4-1.9-28.5-5.8c-14.3-5.6-25.6-14.5-34-26.6c-8.4-12.1-12.6-25.5-12.6-40.2V82.5c0-14.7,4.2-28.1,12.6-40.2c8.4-12.1,19.8-20.9,34-26.6c9.1-3.9,18.6-5.8,28.5-5.8H839.4L839.4,10z"/>
                                    </svg>
                                </a>
                                {{ news.favourites.count }}
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="comments" id="comment-section">
        <h2 class="comments__heading title _black">
            Комментарии ({{ news.comment_set.count }})
        </h2>
        <form class="comments__form-comment form-comment" action="{% url 'add_comment' news.pk %}" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            {% if user.is_authenticated %}
                <button type="submit" class="form-comment__btn btn">
                    Отправить
                </button>
            {% else %}
                <a href="#login" class="form-comment__btn btn popup-link">
                    Отправить
                </a>
            {% endif %}
        </form>

        <ul class="comments__list">
            {% recursetree all_comments %}
                <li class="comments__item comment">
                    <div class="comment__info">
                        <img class="comment__avatar" src="{{ node.author.profile.get_avatar_url }}" alt="avatar">
                        <div class="comment__user-info">
                            <div class="comment__username">
                                {% if user.is_authenticated %}
                                    <a class="comment__username-link" href="{% url 'public_info' node.author.profile.pk %}">
                                        {{ node.author }}
                                    </a>
                                {% else %}
                                    <a href="#login" class="comment__username-link popup-link">
                                        {{ node.author }}
                                    </a>
                                {% endif %}
                            </div>
                            <div class="comment__datetime">
                                {{ node.created_at }}
                            </div>
                        </div>
                    </div>
                    <p class="comment__text">
                         {{ node.text }}
                    </p>

                    <!-- Comment action -->
                    <div class="comments__action">

                        <!-- Reply btn -->
                        {% if node.level < 2 %}
                            {% if user.is_authenticated %}
                                <button class="btn-border" aria-hidden="true"
                                        onclick="openForm({{ node.id }})">
                                    Ответить
                                </button>
                            {% else %}
                                <a href="#login" class="btn-border popup-link">
                                    Ответить
                                </a>
                            {% endif %}
                        {% endif %}
                        
                        <div class="comment__action-right">

                            {% if user.is_authenticated %}
                                <button class="news-actions__btn {% if user in  node.user_like.all %} _active {% endif %}" aria-hidden="true" onclick="like({{ node.pk }}, 'comment')" id="comment_like_btn{{ node.pk }}">
                                    <svg class="news-actions__icon _like" role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                                        <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                                    </svg>
                                </button>
                            {% else %}
                                <a href="#login" class="news-actions__btn popup-link">
                                    <svg class="news-actions__icon news-actions__icon_like" role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 14">
                                        <path d="M9.727273 2.090909c-1.1454548 0-2.1545457.572727-2.727273 1.472727-.5727273-.9-1.5818182-1.472727-2.7272727-1.472727C2.4727273 2.090909 1 3.563636 1 5.363636c0 3.245455 6 6.545455 6 6.545455s6-3.272727 6-6.545455c0-1.8-1.472727-3.272727-3.272727-3.272727z"/>
                                    </svg>
                                </a>
                            {% endif %}

                            <span id="comment_counter__likes{{ node.pk }}">
                                {{ node.like }}
                            </span>

                        </div>

                    </div>
                </li>

                <!-- Reply form -->
                <div class="reply-form" data-name="newForm" id="{{ node.id }}">
                    <form class="comments__form form-comment" action="{% url 'add_comment' news.pk %}" method="post">
                        {% csrf_token %}
                        <select name="parent" class="hide_all" id="id_parentt">
                            <option value="{{ node.id }}" selected="{{ node.id }}"></option>
                        </select>
                        <textarea class="form-comment__textarea" name="text" placeholder="Написать комментарий..." id="contactcomment"></textarea>
                        <button type="submit" class="form-comment__btn btn">
                            Отправить
                        </button>
                    </form>
                </div>

                {% if not node.is_leaf_node %}
                <ul class="comment__child">
                    <li>
                        {{ children }}
                    </li>
                </ul>
                {% endif %}
            {% endrecursetree %}
        </ul>

        <!-- Comments page -->
        <div class="pages">
            {% get_item_pages item=all_comments %}
        </div>
    </section>
{% endblock main_content %}