{% extends 'dialogs/dialogs_list.html' %}
{% block messages %}

    <ul class="message__list">
        {% for message in detail_dialog.message.all %}
            <li class="message__item">
                <div class="message__heading">
                    <div class="message__author">
                        <a class="message__author-link">
                            {{ message.author }}
                        </a>
                    </div>
                    <div class="message__date">
                        {{ message.pub_date | date:"d.m.Y" }}
                    </div>
                </div>
                <p class="message__text">
                    {{ message.message | safe }}
                </p>
            </li>
        {% endfor %}
    </ul>

    <form class="message__form" action="{% url 'send_message' pk=detail_dialog.pk%}" method="post">
        {% csrf_token %}

        <div class="message__textarea">
            {{ message_form.message }}
        </div>

        <button class="message__submit-message-btn submit-message-btn btn" type="submit">
            <svg class="submit-message-btn__icon" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg">
                <path d="m8.75 17.612v4.638c0 .324.208.611.516.713.077.025.156.037.234.037.234 0 .46-.11.604-.306l2.713-3.692z"/>
                <path d="m23.685.139c-.23-.163-.532-.185-.782-.054l-22.5 11.75c-.266.139-.423.423-.401.722.023.3.222.556.505.653l6.255 2.138 13.321-11.39-10.308 12.419 10.483 3.583c.078.026.16.04.242.04.136 0 .271-.037.39-.109.19-.116.319-.311.352-.53l2.75-18.5c.041-.28-.077-.558-.307-.722z"/>
            </svg>
        </button>
    </form>
{% endblock messages %}

