{% extends 'news/base.html' %}
{% block title %} News {% endblock title %}
{% block main_content %}
{% load static dialogs_tag %}

    <section class="dialogs">
        <div class="dialogs__container">
            <div class="dialogs__row">
                <ul class="dialogs__list">
                    {% for dialog in dialog_list %}
                        <li class="dialogs__item">
                            <a class="dialogs__link" href="{% url 'dialogs_detail' dialog.pk %}">
                                {% get_companion  user dialog as companion %}
                                {% if companion.profile.nickname %}
                                    {{ companion.profile.nickname }}
                                {% else %}
                                    {{ companion.username }}
                                {% endif %}
                                {% get_new_messages  user dialog as new_messages %}
                                {% if new_messages != 0 %}
                                    <span class="dialogs__count">
                                        {{ new_messages }}
                                    </span>
                                {% endif %}
                            </a>

                        </li>
                    {% endfor %}
                    <button class="dialogs__chats-btn chats-btn btn">
                        Чаты
                        <svg class="chats-btn__icon" enable-background="new 0 0 24 24" height="24px" id="Layer_1" version="1.1" viewbox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M5.1,22.1c-0.5,0-0.9-0.1-1.4-0.2c-0.3-0.1-0.6-0.3-0.8-0.5l-0.1-0.1c-0.1-0.1-0.2-0.3-0.2-0.4c0-0.2,0.1-0.3,0.3-0.4   c0.8-0.4,1.5-1.1,1.9-1.9C4.9,18.5,5,18.4,5,18.3c-2.8-1.7-4.5-4.4-4.5-7.3c0-5,5.2-9.2,11.5-9.2S23.5,6,23.5,11   c0,5-5.2,9.2-11.5,9.2c-0.6,0-1.3,0-1.9-0.1C8.6,21.4,6.8,22.1,5.1,22.1z"/>
                        </svg>
                    </button>
                </ul>

                <div class="messages">
                    {% block messages %}

                    {% endblock messages %}
                </div>
            </div>
        </div>
    </section>

{% endblock main_content %}

